Repository facebook/lexical, pull requests merged in 2024-06, with the labels that each got.

#6232 Fix programmatic clipboard copy on non-editable
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/ContextMenuCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical/src/LexicalEvents.ts
Labels: CLA Signed, extended-tests

#6198 [Lexical ] run tests on approval if there is no extended-tests label manually added
  .github/workflows/after-approval.yml
  .github/workflows/tests-extended.yml
Labels: CLA Signed

#6234 [*] Fix: size-limit report for esm modules
  .size-limit.js
Labels: CLA Signed

#6237 [Lexical][CI] Add more ||ism in e2e tests to decrease overall run time
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/e2e/TextFormatting.spec.mjs
  playwright.config.js
Labels: CLA Signed, extended-tests

#6239 [Lexical][CI] Fix approval workflow to ignore e2e tests run on labelled PRs again
  .github/workflows/tests-extended.yml
Labels: CLA Signed, extended-tests

#6240 [lexical-playground] CI: fix flaky collab test
  packages/lexical-playground/__tests__/e2e/Toolbar.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
Labels: CLA Signed, extended-tests

#6214 refactor: refactored InlineImageNode - spans for correct HTML
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageComponent.tsx
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.css
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.tsx
  packages/lexical-playground/src/nodes/PlaygroundNodes.ts
  packages/lexical-playground/src/plugins/InlineImagePlugin/index.tsx
Labels: CLA Signed, extended-tests

#6223 [lexical-selection] Bug Fix: Selection is removed when changing style of 2 different nodes
  packages/lexical-selection/src/__tests__/unit/LexicalSelectionHelpers.test.ts
  packages/lexical-selection/src/lexical-node.ts
Labels: CLA Signed, extended-tests

#6216 [lexical-react] Bug Fix: checklist cannot be toggled in sub-editors
  packages/lexical-react/src/LexicalCheckListPlugin.tsx
Labels: CLA Signed, extended-tests

#6235 [lexical-table] CI: Remerge PR 6200 Resizing table with merged cells
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-table/src/index.ts
Labels: CLA Signed

#6243 [lexical-table] Bug Fix: Change exported table column width
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-table/src/constants.ts
Labels: CLA Signed, extended-tests

#6245 [lexical-playground] CI: fix flaky headings e2e test
  packages/lexical-playground/__tests__/e2e/Headings/HeadingsEnterAtEnd.spec.mjs
Labels: CLA Signed

#6248 v0.16.0
  CHANGELOG.md
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed, extended-tests

#6246 [lexical-playground] CI: standardise key press delay
  packages/lexical-playground/__tests__/e2e/Headings/HeadingsEnterAtEnd.spec.mjs
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-playground/__tests__/keyboardShortcuts/index.mjs
Labels: CLA Signed

#6250 [Lexical] Skip newly added flaky "Resize merged cells height/width" tests for linux/collab/firefox mode
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
Labels: CLA Signed

#6252 [lexical-eslint-plugin] Fix: Use cjs compatible export from built version
  scripts/build.js
Labels: CLA Signed

#6258 [Lexical] Fix missing meta copyright headers in files
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools Extension/SafariWebExtensionHandler.swift
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/AppDelegate.swift
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Resources/Style.css
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/ViewController.swift
  packages/lexical-devtools/src/entrypoints/devtools-panel/App.css
  packages/lexical-devtools/src/entrypoints/popup/style.css
  packages/lexical-playground/src/nodes/PageBreakNode/index.css
  packages/lexical-playground/src/plugins/CodeActionMenuPlugin/index.css
  packages/lexical-playground/src/plugins/FloatingTextFormatToolbarPlugin/index.css
  packages/lexical-playground/src/plugins/TableOfContentsPlugin/index.css
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.css
  packages/lexical-playground/src/ui/Dialog.css
  packages/lexical-playground/src/ui/Select.css
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/astro.config.mjs
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/playwright.config.ts
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/tests/test.ts
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/app/layout.tsx
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/app/page.tsx
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/next.config.mjs
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/playwright.config.ts
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/postcss.config.js
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/tailwind.config.ts
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/tests/test.ts
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/playwright.config.ts
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/src/app.d.ts
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/svelte.config.js
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/tests/test.ts
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/vite.config.ts
Labels: CLA Signed

#6260 [lexical-utils] Fix: mergeRegister should call cleanup functions in reverse order
  packages/lexical-utils/src/__tests__/unit/mergeRegister.test.ts
  packages/lexical-utils/src/mergeRegister.ts
Labels: CLA Signed

#6264 Revert "[lexical-react] Bug Fix: checklist cannot be toggled in sub-e…
  packages/lexical-react/src/LexicalCheckListPlugin.tsx
Labels: CLA Signed

#6265 [Lexical][CI] Skip extended tests workflow run on multiple approvals
  .github/workflows/after-approval.yml
  .github/workflows/tests-extended.yml
Labels: CLA Signed

#6257 [lexical-playground] CI: fix flaky MaxLength emoji e2e test
  packages/lexical-playground/__tests__/e2e/MaxLength.spec.mjs
Labels: CLA Signed

#6220 [lexical-markdown] Bug Fix: standardise selection to move to start after markdown toggle
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-playground/src/plugins/ActionsPlugin/index.tsx
Labels: CLA Signed

#6267 [Lexical] Fix #6221 delete multiple column table crash
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-table/src/LexicalTableUtils.ts
Labels: CLA Signed

#6275 [lexical-selection] Fix lost autolink styling
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, extended-tests

#6204 [*] Feature: Automated nightly releases
  .github/workflows/call-increment-version.yml
  .github/workflows/call-npm-publish.yml
  .github/workflows/nightly-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/version.yml
  .prettierignore
  package.json
  packages/lexical-website/docs/maintainers-guide.md
  scripts/npm/increment-version.js
  scripts/npm/postversion.js
Labels: CLA Signed

#6279 [Lexical][Tables] Follow up on #6267 handle multi column delete crash on forward selection at end of the table
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-table/src/LexicalTableUtils.ts
Labels: CLA Signed, extended-tests

#6284 Upgrade vite version to address vulnerabilities detected by the Open …
  package-lock.json
  packages/lexical-playground/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed

#6293 [Lexical][Meta] Add dependencies needed to setup lexical-website in m…
  package-lock.json
  packages/lexical-website/package.json
Labels: CLA Signed

#6291 [lexical-playground][lexical-devtools] Fix: Add missing explicit devDependencies for vite config
  package-lock.json
  packages/lexical-devtools/package.json
  packages/lexical-playground/package.json
Labels: CLA Signed, extended-tests

#6259 [lexical-markdown] Add test to keep code language
  packages/lexical-code/src/CodeNode.ts
  packages/lexical-code/src/__tests__/unit/LexicalCodeNode.test.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-playground/__tests__/e2e/CodeActionMenu.spec.mjs
  packages/lexical-playground/__tests__/e2e/CodeBlock.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/HTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Indentation.spec.mjs
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tab.spec.mjs
  packages/lexical-playground/__tests__/regression/1384-insert-nodes.spec.mjs
Labels: CLA Signed, extended-tests

#6146 [lexical][auto-link] Fix auto link node escapes on second "."
  packages/lexical-playground/__tests__/e2e/AutoLinks.spec.mjs
  packages/lexical-playground/src/plugins/AutoLinkPlugin/index.tsx
  packages/lexical-react/src/LexicalAutoLinkPlugin.ts
Labels: CLA Signed, contribution-week, extended-tests

#6271 fix: yjs collaboration plugin in react strict mode
  packages/lexical-devtools/tsconfig.json
  packages/lexical-react/src/LexicalCollaborationContext.ts
  packages/lexical-react/src/LexicalCollaborationPlugin.ts
  packages/lexical-react/src/LexicalCollaborationPlugin.tsx
  packages/lexical-react/src/__tests__/unit/LexicalCollaborationPlugin.test.tsx
  packages/lexical-react/src/shared/useYjsCollaboration.tsx
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests

#6292 CI: Comment to look up Flaky test tracker on e2e test failure
  .github/workflows/call-e2e-test.yml
Labels: CLA Signed

#6300 [Lexical][UI Gallery] Fix meta lexical website intern build errors
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/sidebars.js
  packages/lexical-website/src/pages/docs/error/index.js
Labels: CLA Signed

#6298 CI: Only send flaky test notice once
  .github/workflows/after-approval.yml
  .github/workflows/call-e2e-test.yml
  .github/workflows/tests-extended.yml
Labels: CLA Signed

#6230 [lexical-playground] Fix bug: Insert an image inside another image's caption (#6109)
  packages/lexical-playground/src/nodes/ImageComponent.tsx
  packages/lexical-playground/src/nodes/ImageNode.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-utils/src/index.ts
Labels: CLA Signed, extended-tests

#6302 [Lexical][Meta] Add meta intern static docs config
  package-lock.json
  packages/lexical-link/src/index.ts
  packages/lexical-selection/src/lexical-node.ts
  packages/lexical-utils/src/index.ts
  packages/lexical-website/docs/concepts/node-replacement.md
  packages/lexical-website/docs/concepts/serialization.md
  packages/lexical-website/docs/error.md
  packages/lexical-website/docs/getting-started/devtools.md
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/package.json
  packages/lexical-website/src/components/ErrorCodePage.js
Labels: CLA Signed

#6307 [Lexical][CI] Fix issues in after_approval workflow
  .github/workflows/after-approval.yml
  .github/workflows/tests-extended.yml
Labels: CLA Signed

#6318 Few missing exports that are useful
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-table/src/index.ts
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/index.ts
Labels: CLA Signed

#6321 [Lexical][Gallery] add option to add gallery content in Meta Intern only
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/src/components/GalleryPage.js
  packages/lexical-website/src/pages/gallery.md
Labels: CLA Signed

#6295 [lexical] Bug Fix: Make `reconcileParagraphFormat` respect editor readonly state
  packages/lexical/src/LexicalReconciler.ts
Labels: CLA Signed

#6306 [lexical-link] Fix bug when can't remove link formatting from autolink
  packages/lexical-link/src/__tests__/unit/LexicalAutoLinkNode.test.ts
  packages/lexical-link/src/index.ts
  packages/lexical-playground/__tests__/e2e/AutoLinks.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/plugins/FloatingLinkEditorPlugin/index.tsx
  packages/lexical-react/src/LexicalAutoLinkPlugin.ts
Labels: CLA Signed, extended-tests

#6332 [lexical] Bug Fix: Export type EditorUpdateOptions
  packages/lexical/src/index.ts
Labels: CLA Signed

#6336 [lexical-react][lexical-dev-tools-core] Bug Fix: TreeView selection indicator
  packages/lexical-devtools-core/src/generateContent.ts
Labels: CLA Signed, extended-tests

#6317 Add impact description to bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: CLA Signed

#6316 Update feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: CLA Signed

#6274 Bug Fix: Fix selection when hitting "shift+arrowdown" into a table.
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/CopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6343 Replace 'await' with 'async' in lexical-headless/README.md
  packages/lexical-headless/README.md
Labels: CLA Signed

#6340 [lexical-html] Bug Fix: Preserve text alignment of nested block elements, when converting HTML to Lexical Nodes
  packages/lexical-html/src/__tests__/unit/LexicalHtml.test.ts
  packages/lexical-html/src/index.ts
Labels: CLA Signed, extended-tests
