Repository facebook/lexical, pull requests merged in 2024-11, with the labels that each got.

#6786 [lexical-playground] Fix: the placement of the fontSize button in the ToolbarPlugin and hide the vertical scroll (Bug Fix)
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.css
Labels: CLA Signed

#6780 Bug Fix: ContextMenu Paste option not preserving style
  .gitignore
  package-lock.json
  package.json
  packages/lexical-html/src/index.ts
  packages/lexical-playground/__tests__/e2e/CodeActionMenu.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/LinksHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/ContextMenuCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/CopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/ListsCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/HorizontalRule.spec.mjs
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
  packages/lexical-playground/__tests__/e2e/Share.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/regression/1384-insert-nodes.spec.mjs
  packages/lexical-playground/__tests__/regression/5251-paste-into-inline-element.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/App.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.tsx
  packages/lexical-playground/src/ui/ColorPicker.tsx
Labels: CLA Signed, extended-tests

#6761 [lexical-website] Chore: upgrade to Docusaurus v3.6 - Docusaurus Faster
  .prettierignore
  package-lock.json
  packages/lexical-website/babel.config.js
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/fb/sdoc-cache.json
  packages/lexical-website/package.json
  packages/lexical-website/plugins/webpack-buffer/index.js
  scripts/error-codes/__tests__/unit/transform-error-messages.test.js
Labels: CLA Signed

#6794 [lexical-react] Bug Fix: LexicalTypeaheadMenuPlugin SSR error: ReferenceError: document is not defined
  packages/lexical-react/src/LexicalContextMenuPlugin.tsx
  packages/lexical-react/src/LexicalNodeMenuPlugin.tsx
  packages/lexical-react/src/LexicalTypeaheadMenuPlugin.tsx
  packages/lexical-react/src/__tests__/unit/useMenuAnchorRef.test.tsx
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed, extended-tests

#6681 [lexical-markdown] Feature: add ability to control finding the end of a node matched by TextMatchTransformer
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
Labels: CLA Signed, extended-tests

#6796 [Lexical-website] BugFix: Change button text colour to improve visibility
  packages/lexical-website/src/components/HomepageExamples/index.js
  packages/lexical-website/src/css/custom.css
Labels: CLA Signed

#6770 [lexical-website] Documentation Update: Add Documentation for html Property in Lexical Editor Configuration
  examples/react-rich/src/App.tsx
  examples/react-rich/src/ExampleTheme.ts
  examples/react-rich/src/styleConfig.ts
  packages/lexical-website/docs/concepts/serialization.md
Labels: CLA Signed

#6754 [lexical-playground] Feature: Add more keyboard shortcuts
  packages/lexical-playground/__tests__/e2e/KeyboardShortcuts.spec.mjs
  packages/lexical-playground/__tests__/keyboardShortcuts/index.mjs
  packages/lexical-playground/src/App.tsx
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/context/ToolbarContext.tsx
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/ShortcutsPlugin/index.tsx
  packages/lexical-playground/src/plugins/ShortcutsPlugin/shortcuts.ts
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/utils.ts
Labels: CLA Signed, extended-tests

#6799 Fix importDOM for Layout plugin
  packages/lexical-playground/src/nodes/LayoutItemNode.ts
Labels: CLA Signed, extended-tests

#6803 Add optional selection argument to $getHtmlContent flow type
  packages/lexical-clipboard/flow/LexicalClipboard.js.flow
Labels: CLA Signed

#6805 [lexical] Chore: Add export of DOMExportOutputMap from lexical
  packages/lexical/src/index.ts
Labels: CLA Signed

#6809 v0.20.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed, extended-tests

#6810 [lexical-mark] Bug Fix: Stop MarkNode __ids array deep copy in clone
  packages/lexical-mark/src/MarkNode.ts
Labels: CLA Signed, extended-tests

#6791 [lexical-list] Bug Fix: Handle appending inline element nodes in ListNode.append
  packages/lexical-list/src/LexicalListNode.ts
Labels: CLA Signed, extended-tests, test-needed

#6788 Mention nodes shouldn't be spellcheck'd :)
  packages/lexical-playground/__tests__/e2e/ClearFormatting.spec.mjs
  packages/lexical-playground/__tests__/e2e/Composition.spec.mjs
  packages/lexical-playground/__tests__/e2e/Mentions.spec.mjs
  packages/lexical-playground/__tests__/regression/379-backspace-with-mentions.spec.mjs
  packages/lexical-playground/src/nodes/MentionNode.ts
Labels: CLA Signed

#6819 [lexical-rich-text][lexical-plain-text] workaround for Korean IME issue on iOS
  packages/lexical-plain-text/src/index.ts
  packages/lexical-rich-text/src/index.ts
Labels: CLA Signed

#6759 [lexical][lexical-table] Feature: Scrollable tables with experimental getDOMSlot API
  packages/lexical-playground/__tests__/e2e/Collaboration.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/ContextMenuCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Indentation.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/e2e/TextEntry.spec.mjs
  packages/lexical-playground/__tests__/e2e/Toolbar.spec.mjs
  packages/lexical-playground/__tests__/regression/4661-insert-column-selection.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/Settings.tsx
  packages/lexical-playground/src/appSettings.ts
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-playground/src/plugins/TableHoverActionsPlugin/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical-react/src/LexicalTablePlugin.ts
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
  packages/lexical-table/src/index.ts
  packages/lexical-website/docs/react/plugins.md
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalMutations.ts
  packages/lexical/src/LexicalNode.ts
  packages/lexical/src/LexicalReconciler.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/utils/index.tsx
  packages/lexical/src/index.ts
  packages/lexical/src/nodes/LexicalElementNode.ts
  packages/lexical/src/nodes/__tests__/unit/LexicalElementNode.test.tsx
Labels: CLA Signed, extended-tests

#6827 [lexical-examples] Chore: Add DOMExportOutputMap type to the exportMap
  examples/react-rich/package-lock.json
  examples/react-rich/src/App.tsx
Labels: CLA Signed

#6833 Link flow types
  packages/lexical-link/flow/LexicalLink.js.flow
Labels: CLA Signed

#6835 Prevent initial value fn to be called on rerender
  packages/lexical-react/src/useLexicalSubscription.tsx
Labels: CLA Signed

#6839 [lexical-table] Bug Fix: Fix down arrow key handling in TableObserver
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6817 [lexical-link] Test: Removing link from node(children)
  packages/lexical-link/src/__tests__/unit/LexicalLinkNode.test.ts
  packages/lexical/src/__tests__/utils/index.tsx
Labels: CLA Signed

#6837 [lexical-react] Fix(lexical-react): ContentEditable props type rename
  packages/lexical-react/src/LexicalContentEditable.tsx
Labels: CLA Signed

#6841 [lexical-utils] Bug Fix: Add missing Flow type declarations
  packages/lexical-utils/flow/LexicalUtils.js.flow
Labels: CLA Signed

#6830 Table Action Menu - fix UI issue with Merge Cells item
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
Labels: CLA Signed

#6848 [*] Chore: npm upgrade cross-spawn
  package-lock.json
Labels: CLA Signed

#6826 [lexical-link] Test: Appending inline element nodes to ListNode
  packages/lexical-list/src/__tests__/unit/LexicalListNode.test.ts
Labels: CLA Signed

#6268 [Lexical] Bug Fix: backspace bug when deleting nodes with `canInsertTextAfter` set to false
  packages/lexical/src/LexicalEvents.ts
Labels: CLA Signed, extended-tests

#6856 [__tests__] npm upgrade cross-spawn
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
Labels: CLA Signed

#6857 [Lexical] Chore: Update default skipInitialization to false for registerMutationListener
  packages/lexical-website/docs/concepts/listeners.md
  packages/lexical/src/LexicalEditor.ts
Labels: CLA Signed

#6834 [lexical-table] Bug Fix: Resolve table selection issue when the mouse crosses over a portal
  package-lock.json
  packages/lexical-clipboard/src/clipboard.ts
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/regression/4697-repeated-table-selection.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/package.json
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/CommentPlugin/index.tsx
  packages/lexical-playground/src/plugins/FloatingLinkEditorPlugin/index.tsx
  packages/lexical-playground/src/plugins/FloatingTextFormatToolbarPlugin/index.tsx
  packages/lexical-playground/src/plugins/ImagesPlugin/index.tsx
  packages/lexical-playground/src/plugins/InlineImagePlugin/index.tsx
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-playground/src/plugins/TestRecorderPlugin/index.tsx
  packages/lexical-playground/src/setupEnv.ts
  packages/lexical-playground/vite.config.ts
  packages/lexical-playground/vite.prod.config.ts
  packages/lexical-playground/viteCopyExcalidrawAssets.ts
  packages/lexical-react/src/LexicalTypeaheadMenuPlugin.tsx
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/LexicalTableSelection.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-table/src/LexicalTableUtils.ts
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/index.ts
  packages/shared/viteModuleResolution.ts
Labels: CLA Signed, extended-tests

#6658 [lexical-table] Bug Fix: get table-cell background selection color from a class
  examples/react-table/src/ExampleTheme.ts
  examples/react-table/src/styles.css
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Indentation.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical/src/LexicalEditor.ts
Labels: CLA Signed, extended-tests

#6867 [lexical-selection] Bug Fix: Wrong selection type in $setBlocksType
  packages/lexical-selection/flow/LexicalSelection.js.flow
Labels: CLA Signed

#6869 Add Documentation for RootNode's semantic and use case
  packages/lexical-website/docs/concepts/nodes.md
Labels: CLA Signed

#6864 [lexical-utils] Bug Fix: Add feature detection to calculateZoomLevel
  packages/lexical-utils/src/index.ts
Labels: CLA Signed, extended-tests, test-needed

#6845 [lexical-playground] Bug Fix: autocomplete format before and after insertion
  packages/lexical-playground/__tests__/e2e/Autocomplete.spec.mjs
  packages/lexical-playground/src/App.tsx
  packages/lexical-playground/src/context/SharedAutocompleteContext.tsx
  packages/lexical-playground/src/nodes/AutocompleteNode.tsx
  packages/lexical-playground/src/plugins/AutocompletePlugin/index.tsx
Labels: CLA Signed, extended-tests

#6865 [lexical-playground] Bug Fix: Preserve the selection using the link editor from a table
  packages/lexical-playground/src/plugins/FloatingLinkEditorPlugin/index.tsx
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-playground/src/plugins/TableHoverActionsPlugin/index.tsx
Labels: CLA Signed, extended-tests

#6874 Allow passing params to run-all
  package.json
Labels: CLA Signed, extended-tests

#6872 Add SelectionAlwaysOnDisplay plugin
  .flowconfig
  packages/lexical-devtools/tsconfig.json
  packages/lexical-playground/__tests__/e2e/SelectionAlwaysOnDisplay.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/Settings.tsx
  packages/lexical-playground/src/appSettings.ts
  packages/lexical-react/flow/LexicalSelectionAlwaysOnDisplay.js.flow
  packages/lexical-react/package.json
  packages/lexical-react/src/LexicalSelectionAlwaysOnDisplay.tsx
  packages/lexical-react/src/LexicalTabIndentationPlugin.tsx
  packages/lexical-utils/flow/LexicalUtils.js.flow
  packages/lexical-utils/src/__tests__/unit/LexicalUtilsInsertNodeToNearestRoot.test.tsx
  packages/lexical-utils/src/index.ts
  packages/lexical-utils/src/selectionAlwaysOnDisplay.ts
  packages/lexical-website/docs/react/plugins.md
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests

#6873 positionNodeOnRange fixes
  packages/lexical-utils/src/markSelection.ts
  packages/lexical-utils/src/positionNodeOnRange.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/index.ts
Labels: CLA Signed

#6875 [lexical-table] Bug Fix: Fix left arrow key handling for table selection
  packages/lexical-playground/__tests__/regression/6870-table-left-arrow-selection.spec.mjs
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6871 [lexical-playground] Fix: Hidden comment button on narrow screens or vertical monitors
  packages/lexical-playground/src/plugins/CommentPlugin/index.css
Labels: CLA Signed

#6860 [lexical-playground] Feature: Highlight special strings with format
  packages/lexical-playground/__tests__/e2e/SpecialTexts.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/Settings.tsx
  packages/lexical-playground/src/appSettings.ts
  packages/lexical-playground/src/nodes/PlaygroundNodes.ts
  packages/lexical-playground/src/nodes/SpecialTextNode.tsx
  packages/lexical-playground/src/plugins/SpecialTextPlugin/index.ts
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical/src/LexicalEditor.ts
Labels: CLA Signed, extended-tests

#6880 [lexical-table] Bug Fix: Fix table tab navigation
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6884 [lexical-table] Bug Fix: Fix scrollable table exportDOM
  packages/lexical-table/src/LexicalTableNode.ts
Labels: CLA Signed

#6887 v0.20.1
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed

#6886 [lexical-playground] Fix CSS property
  packages/lexical-playground/src/index.css
Labels: CLA Signed

#6876 [lexical][lexical-playground] Bug Fix: Allow setEditorState to work correctly inside of an update
  packages/lexical-playground/__tests__/e2e/Autocomplete.spec.mjs
  packages/lexical-playground/src/plugins/AutocompletePlugin/index.tsx
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
Labels: CLA Signed, extended-tests
