Repository facebook/lexical, pull requests merged in 2024-09, with the labels that each got.

#6578 [lexical-react]: Fix incorrect addition of empty cells on table paste
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-react/src/LexicalTablePlugin.ts
Labels: CLA Signed, extended-tests

#6560 [lexical-list][lexical-react] Refactor: Create registerList Function Separate from React Shared Utils
  packages/lexical-list/src/index.ts
  packages/lexical-react/src/shared/useList.ts
Labels: CLA Signed, extended-tests

#6585 Fix test results CI path on Windows
  .github/workflows/call-e2e-test.yml
Labels: CLA Signed, extended-tests

#6456 [lexical][lexical-overflow] Refactor: simplified removeText and insertText rewrite (part 1)
  packages/lexical-overflow/src/index.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleTitleNode.ts
  packages/lexical-react/src/__tests__/unit/useLexicalCharacterLimit.test.ts
  packages/lexical-react/src/shared/useCharacterLimit.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/unit/LexicalSelection.test.ts
Labels: CLA Signed, extended-tests

#6596 [lexical-table] Fix Table Cut Event Handling
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6530 [lexical-markdown][breaking change] Feature: multiline markdown transformers / mdx support
  packages/lexical-markdown/README.md
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-markdown/src/utils.ts
  packages/lexical-playground/src/plugins/MarkdownTransformers/index.ts
Labels: CLA Signed, extended-tests

#6603 Address svelte vulnerability
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed

#6588 Fix issue where cmd/ctrl + left arrow after a tab character would cause exception
  packages/lexical-code/src/CodeHighlighter.ts
  packages/lexical-playground/__tests__/e2e/Tab.spec.mjs
Labels: CLA Signed, extended-tests

#6607 [lexical-table][lexical-playground] Bug Fix: Fix merged cell related edge cases
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/MarkdownTransformers/index.ts
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-table/src/LexicalTableSelection.ts
  packages/lexical-table/src/LexicalTableUtils.ts
Labels: CLA Signed, tables, extended-tests

#6562 [lexical-code][breaking change] Bug Fix: explicitly import instead of `window.` to support code nodes in nodejs
  packages/lexical-code/src/CodeHighlighterPrism.ts
  packages/lexical-code/src/CodeNode.ts
Labels: CLA Signed, extended-tests

#6507 Multiple update tags
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
Labels: CLA Signed, extended-tests

#6609 [lexical-playground] Fix: Poll Option not clickable at some place after checked state
  packages/lexical-playground/src/nodes/PollNode.css
Labels: CLA Signed

#6612 Expose getStyleObjectFromCss in @lexical/selection
  packages/lexical-selection/flow/LexicalSelection.js.flow
  packages/lexical-selection/src/index.ts
Labels: CLA Signed, extended-tests

#6608 [lexical-markdown] Fix: normalize markdown in $convertFromMarkdownString to comply with CommonMark spec
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
Labels: CLA Signed, extended-tests

#6567 [lexical] Chore: Add more helpful invariants to $applyNodeReplacement
  packages/lexical-website/docs/concepts/node-replacement.md
  packages/lexical-website/docs/concepts/serialization.md
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/unit/LexicalUtils.test.ts
Labels: CLA Signed, extended-tests

#6617 [lexical-markdown] Breaking Change: rename 'multilineElement' to 'multiline-element'
  packages/lexical-markdown/flow/LexicalMarkdown.js.flow
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/utils.ts
Labels: CLA Signed, extended-tests

#6579 Bug Fix: Fix issue where selecting a cell then dragging outside of table would not select entire table
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6616 address micromatch vulnerability
  package-lock.json
Labels: CLA Signed, extended-tests

#6620 CI: tag flaky test
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
Labels: CLA Signed

#6619 [lexical-react] Refactor: Ensure disconnect is called after connection is established in useYjsCollaboration
  packages/lexical-react/src/shared/useYjsCollaboration.tsx
Labels: CLA Signed, extended-tests

#6627 Revert "[lexical-markdown] Fix: normalize markdown in $convertFromMarkdownString to comply with CommonMark spec (#6608)"
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
Labels: CLA Signed

#6630 [lexical-playground] Bug Fix: Fix table row/column index when resizing merged cells
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
Labels: CLA Signed

#6629 [lexical-markdown] Fix: normalize markdown in $convertFromMarkdownString to comply with CommonMark spec (2nd try)
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
Labels: CLA Signed, extended-tests

#6626 [lexical-table] Bug: Table formatting and styling not persisting for empty cells
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/nodes/LexicalParagraphNode.ts
Labels: CLA Signed, extended-tests

#6634 [lexical-playground][ExcalidrawNode] Bug Fix: Preserve Excalidraw image dimensions after resizing
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawComponent.tsx
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawImage.tsx
  packages/lexical-playground/src/nodes/ExcalidrawNode/index.tsx
Labels: CLA Signed

#6625 [lexical-table][lexical-playground] Feature: Add column widths to TableNode
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Indentation.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/e2e/Toolbar.spec.mjs
  packages/lexical-playground/__tests__/regression/4661-insert-column-selection.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-table/src/LexicalTableUtils.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
Labels: CLA Signed, extended-tests

#6643 Grammar Issue - Repeated Word
  packages/lexical-website/docs/intro.md
Labels: CLA Signed

#6644 [lexical-react][lexical-playground] Bug Fix: Workaround for yjs disconnect race in React StrictMode
  packages/lexical-react/src/shared/useYjsCollaboration.tsx
Labels: CLA Signed, extended-tests

#6652 [lexical-code] Bug Fix: Annotate @lexical/code as having side-effects for Prism
  packages/lexical-code/package.json
  packages/lexical-code/src/CodeHighlightNode.ts
  packages/lexical-code/src/CodeHighlighter.ts
  packages/lexical-code/src/CodeHighlighterPrism.ts
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/src/env.d.ts
Labels: CLA Signed, extended-tests

#6642 [lexical-markdown] shouldMergeAdjacentLines as an option
  packages/lexical-markdown/flow/LexicalMarkdown.js.flow
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
Labels: CLA Signed

#6649 [lexical-playground] Bug Fix: empty code block not focused
  packages/lexical-playground/src/plugins/ActionsPlugin/index.tsx
Labels: CLA Signed

#6651 [lexical-markdown]: Refactor: allows omitting certain properties from TextMatchTransformers, adds jsdocs
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/utils.ts
Labels: CLA Signed, extended-tests

#6657 [lexical-playground] Bug Fix: Correct ExcalidrawNode DOM handling for proper resizing
  packages/lexical-playground/src/nodes/ExcalidrawNode/index.tsx
Labels: CLA Signed

#6656 [lexical-link] Bug Fix: Removing a link from descendants
  packages/lexical-link/src/index.ts
Labels: CLA Signed, extended-tests

#6660 [lexical-markdown] set shouldMergeAdjacentLines default to be false
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
Labels: CLA Signed, extended-tests

#6664 Iterable $dfs
  packages/lexical-utils/flow/LexicalUtils.js.flow
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed

#6676 v0.18.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed

#6680 Support backward selection in rows deletion
  packages/lexical-table/src/LexicalTableUtils.ts
Labels: CLA Signed

#6678 [lexical-table][lexical-playground] Bug Fix: Make style buttons in toolbar respect table selection
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-table/src/LexicalTableSelection.ts
Labels: CLA Signed, extended-tests

#6675 [lexical] Bug Fix: Fix Table formatting when no TextNodes present
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, extended-tests

#6683 [lexical-yjs] Bug Fix: Add missing setLocalStateField method to ProviderAwareness type
  packages/lexical-react/src/__tests__/unit/LexicalCollaborationPlugin.test.tsx
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-yjs/src/index.ts
Labels: CLA Signed
