Repository facebook/lexical, pull requests merged in 2024-05, with the labels that each got.

#5998 add flow for devtools
  packages/lexical-devtools-core/flow/LexicalDevtoolsCore.js.flow
Labels: CLA Signed

#5946 Fix table of contents for headings in tables and collapsible sections
  packages/lexical-react/src/LexicalTableOfContents.tsx
  packages/lexical-utils/src/index.ts
Labels: CLA Signed

#6002 Fix add root element count
  packages/lexical/src/LexicalEvents.ts
Labels: CLA Signed

#6003 Root element count invariant & test
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  scripts/error-codes/codes.json
Labels: CLA Signed

#5999 fix(build): clean up of build-www rewriteImports (follow-up to #5995)
  scripts/www/__tests__/unit/transformFlowFileContents.test.js
  scripts/www/rewriteImports.js
  scripts/www/transformFlowFileContents.js
Labels: CLA Signed

#5977 Fix: #5976 Passing an empty ParagraphNode to $dfs incorrectly returns content from subsequent paragraphs
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed

#5993 [@lexical/website] Documentation: Added FAQ page around Lexical collaborative mode
  packages/lexical-website/docs/collaboration/faq.md
  packages/lexical-website/sidebars.js
Labels: CLA Signed

#5988 [lexical-website] Bug Fix: add allow-popups-to-escape-sandbox to iframe sandbox flags
  packages/lexical-website/docs/concepts/node-replacement.md
  packages/lexical-website/docs/getting-started/creating-plugin.md
  packages/lexical-website/docs/getting-started/quick-start.md
  packages/lexical-website/docs/getting-started/react.md
  packages/lexical-website/src/components/HomepageExamples/index.js
Labels: CLA Signed

#5982 fix: allow tsc to typecheck tests, fix type issues in those tests
  packages/lexical-code/src/__tests__/unit/LexicalCodeNode.test.ts
  packages/lexical-headless/src/__tests__/unit/LexicalHeadlessEditor.test.ts
  packages/lexical-history/src/__tests__/unit/LexicalHistory.test.tsx
  packages/lexical-list/src/__tests__/unit/LexicalListItemNode.test.ts
  packages/lexical-list/src/__tests__/unit/LexicalListNode.test.ts
  packages/lexical-react/src/__tests__/unit/Collaboration.test.ts
  packages/lexical-react/src/__tests__/unit/CollaborationWithCollisions.test.ts
  packages/lexical-react/src/__tests__/unit/LexicalComposer.test.tsx
  packages/lexical-react/src/__tests__/unit/PlainRichTextPlugin.test.tsx
  packages/lexical-react/src/__tests__/unit/useLexicalCharacterLimit.test.ts
  packages/lexical-react/src/__tests__/unit/useLexicalIsTextContentEmpty.test.tsx
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-rich-text/src/__tests__/unit/LexicalHeadingNode.test.ts
  packages/lexical-rich-text/src/__tests__/unit/LexicalQuoteNode.test.ts
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical-selection/src/__tests__/unit/LexicalSelectionHelpers.test.ts
  packages/lexical-selection/src/__tests__/utils/index.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableSelection.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexicalEventHelpers.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/__tests__/unit/LexicalUtilsSplitNode.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexlcaiUtilsInsertNodeToNearestRoot.test.tsx
  packages/lexical-website/docs/faq.md
  tsconfig.json
  tsconfig.test.json
Labels: CLA Signed

#5857 [lexical-html] Feature: Support copy pasting block and inline nodes properly
  packages/lexical-code/src/CodeNode.ts
  packages/lexical-html/src/index.ts
  packages/lexical-playground/__tests__/e2e/CodeBlock.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/HTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/ListsHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-utils/src/index.ts
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/index.ts
  packages/lexical/src/nodes/ArtificialNode.ts
  packages/lexical/src/nodes/LexicalTextNode.ts
Labels: CLA Signed

#6019 [lexical-utils] ci: fix typing to fix integrity test
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
Labels: CLA Signed

#6018 [build] Chore: Upgrade rollup and vite to latest versions
  .eslintrc.js
  .github/workflows/devtools-extension-publish.yml
  .github/workflows/test.yml
  examples/react-rich/package-lock.json
  examples/react-rich/package.json
  examples/vanilla-js-plugin/package-lock.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package-lock.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-devtools/wxt.config.ts
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/package.json
  packages/lexical-playground/src/Settings.tsx
  packages/lexical-playground/src/appSettings.ts
  packages/lexical-playground/src/context/SettingsContext.tsx
  packages/lexical-playground/src/index.tsx
  packages/lexical-playground/src/nodes/MentionNode.ts
  packages/lexical-playground/src/plugins/ContextMenuPlugin/index.tsx
  packages/lexical-playground/src/setupEnv.ts
  packages/lexical-playground/vite.config.ts
  packages/lexical-playground/vite.prod.config.ts
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableSelection.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/markSelection.ts
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/package.json
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/shared/viteModuleResolution.ts
  scripts/build.js
  scripts/npm/packages.js
  scripts/shared/PackageMetadata.js
Labels: CLA Signed

#6026 [playground] Bug Fix: change default dev port to 3000
  package.json
  packages/lexical-playground/package.json
Labels: CLA Signed

#6029 [CI] Refactor: clean up github workflows for cache correctness
  .github/workflows/devtools-extension-publish.yml
  .github/workflows/e2e-test.yml
  .github/workflows/nightly-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  .size-limit.js
  packages/lexical-devtools/wxt.config.ts
Labels: CLA Signed

#5908 feat(@lexical/eslint-plugin): new package with eslint rules for lexical
  .eslintrc.js
  .flowconfig
  eslint-plugin/package.json
  package-lock.json
  package.json
  packages/lexical-devtools/tsconfig.json
  packages/lexical-eslint-plugin/LexicalEslintPlugin.js
  packages/lexical-eslint-plugin/README.md
  packages/lexical-eslint-plugin/flow/LexicalEslintPlugin.js.flow
  packages/lexical-eslint-plugin/package.json
  packages/lexical-eslint-plugin/src/LexicalEslintPlugin.js
  packages/lexical-eslint-plugin/src/__tests__/unit/buildMatcher.test.ts
  packages/lexical-eslint-plugin/src/__tests__/unit/rules-of-lexical.test.ts
  packages/lexical-eslint-plugin/src/index.ts
  packages/lexical-eslint-plugin/src/rules/rules-of-lexical.js
  packages/lexical-eslint-plugin/src/util/buildMatcher.js
  packages/lexical-eslint-plugin/src/util/getFunctionName.js
  packages/lexical-eslint-plugin/src/util/getParentAssignmentName.js
  packages/lexical-playground/src/nodes/MentionNode.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed

#6032 CharacterLimit prefer replace over insertBefore
  packages/lexical-react/src/shared/useCharacterLimit.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed

#6033 Dev warning for failed DOM selection
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed

#6035 [build] Bug Fix: ensure unique artifact name for e2e tests
  .github/workflows/e2e-test.yml
  package-lock.json
  package.json
Labels: CLA Signed

#6037 Add flow declarations in LexicalDevtoolsCore.js.flow
  packages/lexical-devtools-core/flow/LexicalDevtoolsCore.js.flow
Labels: CLA Signed

#5991 [lexical-plaintext] Feature: add escape key handler
  packages/lexical-plain-text/src/index.ts
Labels: CLA Signed

#6046 Fix font size update in table selection
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-selection/src/range-selection.ts
Labels: CLA Signed

#6045 Fix #5703 Infinite loop on hashtag transform
  packages/lexical-playground/__tests__/e2e/Hashtags.spec.mjs
  packages/lexical-text/src/registerLexicalTextEntity.ts
Labels: CLA Signed

#6052 [@lexical/devtools] Bug Fix: Fixed NPM "build:zip" command for Chrome and added build/dev steps for Safari
  packages/lexical-devtools/package.json
Labels: CLA Signed

#6053 [lexical-playground][lexical-text] Bug Fix: handling hashtag following multiple invalid matches
  packages/lexical-playground/__tests__/e2e/Hashtags.spec.mjs
  packages/lexical-text/src/registerLexicalTextEntity.ts
Labels: CLA Signed

#6049 [lexical-table][lexical-playground] Bug Fix: Table selection stuck
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed

#6058 Revert #6053 first till proper fix is shipped in #6056
  packages/lexical-playground/__tests__/e2e/Hashtags.spec.mjs
  packages/lexical-text/src/registerLexicalTextEntity.ts
Labels: CLA Signed

#6057 [Lexical] Update outdated flow file for LexicalMarkdown
  packages/lexical-markdown/flow/LexicalMarkdown.js.flow
Labels: CLA Signed

#6069 Fix autolink styles on creation
  packages/lexical-playground/__tests__/e2e/AutoLinks.spec.mjs
  packages/lexical-react/src/LexicalAutoLinkPlugin.ts
Labels: CLA Signed

#6067 [Leixcal][Hashtag] Fix prevSibling not getting updated after replacement of match as followup #6053
  packages/lexical-text/src/registerLexicalTextEntity.ts
Labels: CLA Signed

#6060 Revert importDOM changes from #5951
  packages/lexical-html/src/index.ts
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/LinksHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-table/src/LexicalTableCellNode.ts
Labels: CLA Signed

#6054 Fix #6051 Deprecate keycode to code
  packages/lexical-playground/src/plugins/TestRecorderPlugin/index.tsx
  packages/lexical-playground/src/plugins/TypingPerfPlugin/index.ts
  packages/lexical-selection/src/__tests__/utils/index.ts
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed

#6056 [lexical-text] Bug Fix: for handling multiple matches on hashtags
  packages/lexical-playground/__tests__/e2e/Hashtags.spec.mjs
  packages/lexical-text/src/registerLexicalTextEntity.ts
  scripts/error-codes/codes.json
Labels: CLA Signed

#6070 [lexical-yjs] Bug fix: Fix cursor position after undo in collab mode
  packages/lexical-playground/__tests__/e2e/Collaboration.spec.mjs
  packages/lexical-yjs/src/SyncEditorStates.ts
  packages/lexical-yjs/src/Utils.ts
Labels: CLA Signed

#6005 [build] Refactor: move error-codes generation to existing babel plugin
  package.json
  packages/lexical-website/docs/maintainers-guide.md
  scripts/build.js
  scripts/error-codes/ErrorMap.js
  scripts/error-codes/__tests__/unit/ErrorMap.test.js
  scripts/error-codes/__tests__/unit/transform-error-messages.test.js
  scripts/error-codes/extract-errors.js
  scripts/error-codes/transform-error-messages.js
Labels: CLA Signed

#6043 [examples/react-rich-collab] Feature: Added collaboration focused example
  examples/react-rich-collab/.gitignore
  examples/react-rich-collab/README.md
  examples/react-rich-collab/app.html
  examples/react-rich-collab/index.html
  examples/react-rich-collab/package-lock.json
  examples/react-rich-collab/package.json
  examples/react-rich-collab/public/icons/LICENSE.md
  examples/react-rich-collab/public/icons/arrow-clockwise.svg
  examples/react-rich-collab/public/icons/arrow-counterclockwise.svg
  examples/react-rich-collab/public/icons/journal-text.svg
  examples/react-rich-collab/public/icons/justify.svg
  examples/react-rich-collab/public/icons/text-center.svg
  examples/react-rich-collab/public/icons/text-left.svg
  examples/react-rich-collab/public/icons/text-paragraph.svg
  examples/react-rich-collab/public/icons/text-right.svg
  examples/react-rich-collab/public/icons/type-bold.svg
  examples/react-rich-collab/public/icons/type-italic.svg
  examples/react-rich-collab/public/icons/type-strikethrough.svg
  examples/react-rich-collab/public/icons/type-underline.svg
  examples/react-rich-collab/src/App.tsx
  examples/react-rich-collab/src/Editor.tsx
  examples/react-rich-collab/src/ExampleTheme.ts
  examples/react-rich-collab/src/getRandomUserProfile.ts
  examples/react-rich-collab/src/main.tsx
  examples/react-rich-collab/src/plugins/ToolbarPlugin.tsx
  examples/react-rich-collab/src/plugins/TreeViewPlugin.tsx
  examples/react-rich-collab/src/providers.ts
  examples/react-rich-collab/src/styles.css
  examples/react-rich-collab/src/vite-env.d.ts
  examples/react-rich-collab/tsconfig.json
  examples/react-rich-collab/tsconfig.node.json
  examples/react-rich-collab/vite.config.ts
  packages/lexical-website/docs/collaboration/react.md
Labels: CLA Signed

#6084 v0.15.0
  CHANGELOG.md
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed

#6087 [lexical][TextNode] Feature: improve supporting multiple format on importDOM of TextNode
  packages/lexical/src/nodes/LexicalTextNode.ts
Labels: CLA Signed

#6014 [lexical] Feature: error checking for node key re-use with type mismatch in __DEV__
  jest.config.js
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/__tests__/unit/LexicalNode.test.ts
  packages/shared/src/__mocks__/invariant.ts
Labels: CLA Signed

#6071 [lexical-playground][TableCellResizer] Feature: Center the drag zone over the edge of the cell
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
Labels: CLA Signed

#6091 [lexical][TextNode] Feature: Add test for #6087
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TextFormatHTMLCopyAndPaste.spec.mjs
Labels: CLA Signed

#6093 [Lexical][Table Formatting Copy Paste] Move test from e2e to unit as followup on #5855
  packages/lexical-playground/__tests__/e2e/CodeBlock.spec.mjs
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.ts
Labels: CLA Signed

#6080 Only run CI e2e tests on approved PRs
  .github/workflows/call-core-tests.yml
  .github/workflows/call-e2e-all-tests.yml
  .github/workflows/call-e2e-canary-tests.yml
  .github/workflows/call-e2e-test.yml
  .github/workflows/size-limit.yml
  .github/workflows/tests-extended.yml
  .github/workflows/tests.yml
  .lintstagedrc.js
  CONTRIBUTING.md
  README.md
Labels: CLA Signed, extended-tests

#6055 [lexical-playground] Bug Fix: Emoji menu item not getting targeted styles
  packages/lexical-playground/src/plugins/EmojiPickerPlugin/index.tsx
Labels: CLA Signed

#6099 [@lexical/devtools] Bug Fix: Reduce requested permissions as we don't use them atm
  packages/lexical-devtools/wxt.config.ts
Labels: CLA Signed

#6100 [Lexical] #6097 run extended tests on merge_group event
  .github/workflows/tests-extended.yml
Labels: CLA Signed

#6077 [lexical-devtools] Feature: Reflect picker state on inspector button ui
  packages/lexical-devtools/src/entrypoints/devtools-panel/components/EditorInspectorButton.tsx
  packages/lexical-devtools/src/entrypoints/injected/InjectedPegasusService.ts
  packages/lexical-devtools/src/store.ts
Labels: CLA Signed, extended-tests

#6120 [Lexical] Add label to run e2e tests on approve
  .github/workflows/add-label-run-extended-tests-approve.yml
  .github/workflows/tests-extended.yml
Labels: CLA Signed, extended-tests

#6102 Fix: Bug - 6000: Changing the font size when inputting does not take …
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.tsx
  scripts/__tests__/integration/setup.js
Labels: CLA Signed, contribution-week, extended-tests

#6088 [lexical-react] Breaking change: Deprecate public default exports
  .eslintrc.js
  .flowconfig
  README.md
  babel.config.js
  examples/react-rich-collab/src/Editor.tsx
  examples/react-rich/src/App.tsx
  packages/lexical-devtools/tsconfig.json
  packages/lexical-devtools/wxt.config.ts
  packages/lexical-eslint-plugin/src/index.ts
  packages/lexical-history/src/__tests__/unit/LexicalHistory.test.tsx
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/nodes/ImageComponent.tsx
  packages/lexical-playground/src/nodes/InlineImageComponent.tsx
  packages/lexical-playground/src/nodes/StickyComponent.tsx
  packages/lexical-playground/src/plugins/CommentPlugin/index.tsx
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-playground/src/plugins/TableOfContentsPlugin/index.tsx
  packages/lexical-playground/vite.config.ts
  packages/lexical-playground/vite.prod.config.ts
  packages/lexical-react/flow/LexicalClickableLinkPlugin.js.flow
  packages/lexical-react/flow/LexicalErrorBoundary.js.flow
  packages/lexical-react/flow/LexicalPlainTextPlugin.js.flow
  packages/lexical-react/flow/LexicalRichTextPlugin.js.flow
  packages/lexical-react/flow/LexicalTableOfContents.js.flow
  packages/lexical-react/flow/LexicalTableOfContentsPlugin.js.flow
  packages/lexical-react/flow/useLexicalEditable.js.flow
  packages/lexical-react/flow/useLexicalSubscription.js.flow
  packages/lexical-react/package.json
  packages/lexical-react/src/LexicalClickableLinkPlugin.tsx
  packages/lexical-react/src/LexicalErrorBoundary.tsx
  packages/lexical-react/src/LexicalPlainTextPlugin.tsx
  packages/lexical-react/src/LexicalRichTextPlugin.tsx
  packages/lexical-react/src/LexicalTableOfContents.tsx
  packages/lexical-react/src/LexicalTableOfContentsPlugin.tsx
  packages/lexical-react/src/__tests__/unit/PlainRichTextPlugin.test.tsx
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-react/src/useLexicalEditable.ts
  packages/lexical-react/src/useLexicalSubscription.tsx
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexicalEventHelpers.test.tsx
  packages/lexical-website/docs/collaboration/react.md
  packages/lexical-website/docs/getting-started/react.md
  packages/lexical-website/docs/getting-started/theming.md
  packages/lexical-website/docs/react/plugins.md
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/__tests__/unit/LexicalListPlugin.test.tsx
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/src/components/App.tsx
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/app/EditorUseClient.tsx
  scripts/build.js
  scripts/error-codes/__tests__/unit/transform-error-messages.test.js
  scripts/update-flowconfig.js
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests

#6090 [lexical-playground][lexical-react][lexical] Feature: Theme class added to horizontal rule node
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/HTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/ListsHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/HorizontalRule.spec.mjs
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical-react/src/LexicalHorizontalRuleNode.tsx
  packages/lexical/src/LexicalEditor.ts
Labels: CLA Signed, extended-tests

#6020 [lexical-markdown][lexical-playground] Feature: Option to include blanklines in markdown render
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
  packages/lexical-markdown/src/utils.ts
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/Settings.tsx
  packages/lexical-playground/src/appSettings.ts
  packages/lexical-playground/src/plugins/ActionsPlugin/index.tsx
Labels: CLA Signed, extended-tests

#6110 [Lexical] Replace code with key to check KeyboardEvents
  packages/lexical-playground/src/plugins/TestRecorderPlugin/index.tsx
  packages/lexical-playground/src/plugins/TypingPerfPlugin/index.ts
  packages/lexical-selection/src/__tests__/utils/index.ts
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed, extended-tests

#6127 [Lexical] Add flow for eslint
  packages/lexical-eslint-plugin/flow/LexicalEslintPlugin.js.flow
  scripts/update-flowconfig.js
Labels: CLA Signed, extended-tests

#6133 fix(lexical): #6132 react build size regression from #6088
  scripts/build.js
Labels: CLA Signed, extended-tests

#6130 [Lexical] Fix size limit workflow git hub action bot not able to create comment for PRs from fork
  .github/workflows/size-limit.yml
Labels: CLA Signed, extended-tests

#6134 [Lexical] Use classic mode for jsx runtime for meta build
  scripts/build.js
Labels: CLA Signed, extended-tests

#6136 Fix the label-on-approval workflow
  .github/workflows/add-label-run-extended-tests-approve.yml
  .github/workflows/after-approval.yml
Labels: CLA Signed, extended-tests

#6129 Bug Fix: Add check for `DecoratorNode` for horizontal table navigation.
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed

#6135 Remove 'legacy-events' from mac & linux e2e matrix
  .github/workflows/call-e2e-all-tests.yml
Labels: CLA Signed, extended-tests

#6140 [Lexical] Fix meta sync build failing due to recent changes in LexicalErrorBoundary.tsx
  packages/lexical-react/src/LexicalErrorBoundary.tsx
Labels: CLA Signed, extended-tests

#6111 [lexical-playground][image-node] Bug Fix: Load image error UI
  packages/lexical-playground/src/images/image-broken.svg
  packages/lexical-playground/src/nodes/ImageComponent.tsx
Labels: CLA Signed, contribution-week, extended-tests

#5782 Deprecate unused methods on ElementNode
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical/src/nodes/LexicalElementNode.ts
Labels: CLA Signed

#6159 Bug Fix: Insert paragraph at table's edge inside a collapsible
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#6139 Add tbody and thead tags to TableObserver
  packages/lexical-table/src/LexicalTableObserver.ts
Labels: CLA Signed, extended-tests

#6048 [lexical-react] Feature: React 19 unit tests
  .github/workflows/call-core-tests.yml
  .github/workflows/call-e2e-all-tests.yml
  .github/workflows/call-e2e-test.yml
  .github/workflows/call-integration-tests.yml
  .github/workflows/tests-extended.yml
  examples/react-rich-collab/package-lock.json
  examples/react-rich-collab/package.json
  jest.config.js
  package-lock.json
  package.json
  packages/lexical-devtools/package.json
  packages/lexical-devtools/tsconfig.json
  packages/lexical-eslint-plugin/src/rules/rules-of-lexical.js
  packages/lexical-history/src/__tests__/unit/LexicalHistory.test.tsx
  packages/lexical-playground/vite.config.ts
  packages/lexical-playground/vite.prod.config.ts
  packages/lexical-react/src/__tests__/unit/LexicalComposer.test.tsx
  packages/lexical-react/src/__tests__/unit/PlainRichTextPlugin.test.tsx
  packages/lexical-react/src/__tests__/unit/React19.test.tsx
  packages/lexical-react/src/__tests__/unit/useLexicalIsTextContentEmpty.test.tsx
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-react/src/shared/useCharacterLimit.ts
  packages/lexical-react/src/useLexicalEditable.ts
  packages/lexical-react/src/useLexicalSubscription.tsx
  packages/lexical-rich-text/src/__tests__/unit/LexicalHeadingNode.test.ts
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical-selection/src/__tests__/utils/index.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableSelection.test.tsx
  packages/lexical-utils/src/__tests__/unit/LexicalEventHelpers.test.tsx
  packages/lexical-website/docs/concepts/editor-state.md
  packages/lexical-website/docs/react/faq.md
  packages/lexical-website/docs/react/index.md
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/package.json
  packages/lexical-website/sidebars.js
  packages/lexical-website/src/plugins/lexical-typedoc-plugin-module-name/index.js
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/__tests__/unit/LexicalListPlugin.test.tsx
  packages/lexical/src/__tests__/unit/LexicalNormalization.test.tsx
  packages/lexical/src/__tests__/unit/LexicalUtils.test.ts
  packages/lexical/src/__tests__/utils/index.tsx
  packages/lexical/src/nodes/__tests__/unit/LexicalElementNode.test.tsx
  packages/lexical/src/nodes/__tests__/unit/LexicalTextNode.test.tsx
  packages/shared/src/react-test-utils.ts
  packages/shared/src/useLayoutEffect.ts
  scripts/override-react.js
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests

#6062 [lexical-selection] Bug Fix / Fixes text formatting with segmented and token nodes #6059
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed

#6165 [lexical-markdown] Bug Fix: add missing shouldPreserveNewLines to markdown flow
  packages/lexical-markdown/flow/LexicalMarkdown.js.flow
Labels: CLA Signed, extended-tests

#6153 [Lexical] Attempt to fix after approval workflow
  .github/workflows/after-approval.yml
Labels: CLA Signed, extended-tests

#6124 [Lexical] Feature: Merging PR closes auto-linked issue
  .github/pull_request_template.md
Labels: CLA Signed

#6143 [lexical-react] Bug Fix: Use automatic jsx runtime with react/jsx-runtime -> react alias in www
  scripts/build.js
Labels: CLA Signed

#6105 [@lexical/devtools] Feature: Added full Safari support
  .prettierignore
  package-lock.json
  packages/lexical-devtools/README.md
  packages/lexical-devtools/package.json
  packages/lexical-devtools/safari-xcode/.gitignore
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Config.xcconfig
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools Extension/Info.plist
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools Extension/Lexical_Developer_Tools_Extension.entitlements
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools Extension/SafariWebExtensionHandler.swift
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools.xcodeproj/project.pbxproj
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/AppDelegate.swift
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-128@1x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-128@2x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-16@1x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-16@2x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-256@1x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-256@2x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-32@1x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-32@2x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-512@1x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/AppIcon.appiconset/mac-icon-512@2x.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/Contents.json
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Assets.xcassets/LargeIcon.imageset/Contents.json
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Base.lproj/Main.html
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Base.lproj/Main.storyboard
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Info.plist
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Lexical Developer Tools.entitlements
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Lexical_Developer_Tools.entitlements
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Resources/Icon.png
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Resources/Script.js
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/Resources/Style.css
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/ViewController.swift
  packages/lexical-devtools/safari-xcode/versioning.mjs
  packages/lexical-devtools/src/entrypoints/background/ActionIconWatchdog.ts
  packages/lexical-devtools/wxt.config.ts
Labels: CLA Signed, contribution-week, extended-tests

#6170 [CI] fix: status badge
  README.md
Labels: CLA Signed, extended-tests

#6163 docs: explain installing browsers for e2e tests
  packages/lexical-website/docs/testing.md
Labels: CLA Signed

#6172 Fixed Uncommented Code in Getting Started with React Docs
  packages/lexical-website/docs/getting-started/react.md
Labels: CLA Signed

#6181 [Lexical] Move more tests related to Copy Paste from e2e to unit
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/HTMLCopyAndPaste.spec.mjs
  packages/lexical/src/__tests__/unit/CodeBlock.test.ts
  packages/lexical/src/__tests__/unit/HTMLCopyAndPaste.test.ts
Labels: CLA Signed, extended-tests

#6183 [Lexical] use lexical bot for adding label
  .github/workflows/after-approval.yml
Labels: CLA Signed, extended-tests

#6182 [lexical-dev-tools-core] Feature: Index tree view cmds
  packages/lexical-devtools-core/src/generateContent.ts
  packages/lexical-devtools-core/src/useLexicalCommandsLog.ts
Labels: CLA Signed, extended-tests

#6160 [lexical] Bug Fix: delete line for selections ending with elements
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, contribution-week, extended-tests

#6185 Revert "[lexical-plaintext] Feature: add escape key handler"
  packages/lexical-plain-text/src/index.ts
Labels: CLA Signed, extended-tests

#6188 Remove emojis from emoticons plugins
  packages/lexical-playground/src/plugins/EmojisPlugin/index.ts
Labels: CLA Signed, extended-tests

#6024 [lexical-playground] Chore: add test for pasting over mentions
  packages/lexical-playground/__tests__/e2e/Mentions.spec.mjs
Labels: CLA Signed, extended-tests

#6192 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CLA Signed, extended-tests

#6179 Collapsible as div
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleContainerNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleContentNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleTitleNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleUtils.ts
Labels: CLA Signed, extended-tests

#6186 [lexical-devtools] Feature: Improved usage and maintenance documentation
  .github/workflows/devtools-extension-publish.yml
  packages/lexical-devtools/README.md
  packages/lexical-devtools/package.json
  packages/lexical-website/docs/getting-started/devtools.md
  packages/lexical-website/sidebars.js
  packages/lexical-website/static/img/docs/devtools-demo.png
Labels: CLA Signed, extended-tests

#6201 [LexicalTextNode] Refactor: remove unnecessary type casting
  packages/lexical/src/nodes/LexicalTextNode.ts
Labels: CLA Signed, extended-tests

#6191 [lexical-list][lexical-playground] Bug fix: support pasting google doc checklist
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical-list/src/LexicalListNode.ts
  packages/lexical-playground/src/nodes/ImageNode.tsx
  packages/lexical/src/__tests__/unit/HTMLCopyAndPaste.test.ts
Labels: CLA Signed, extended-tests

#6208 Remove noisy running time signal mentioned in #6137
  .github/workflows/size-limit.yml
  .size-limit.js
Labels: CLA Signed, extended-tests

#6202 [lexical-code] Refactor: remove unnecessary type casting
  packages/lexical-code/src/CodeNode.ts
Labels: CLA Signed, extended-tests

#6203 [lexical-list] Refactor: remove unnecessary type casting
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical-list/src/LexicalListNode.ts
Labels: CLA Signed, extended-tests

#6209 [Lexical][CI] Add more packages for size limit regressions check
  .size-limit.js
Labels: CLA Signed, extended-tests

#6213 [lexical-devtools] Chore: Safari App Store review fixes
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools/ViewController.swift
  packages/lexical-website/docs/getting-started/devtools.md
Labels: CLA Signed, extended-tests

#6218 [lexical-devtools] Documentation Update: Added link to the Mac App Store
  packages/lexical-devtools/README.md
  packages/lexical-devtools/safari-xcode/Lexical Developer Tools/Lexical Developer Tools.xcodeproj/project.pbxproj
  packages/lexical-website/docs/getting-started/devtools.md
Labels: CLA Signed, extended-tests

#6200 [lexical-playground][lexical-table] Bug Fix: Resizing table with merged cells
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-table/src/index.ts
Labels: CLA Signed

#6215 [lexical-website] Documentation Update: Validate stackblitz URLs in documentation
  package-lock.json
  package.json
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-website/docs/collaboration/react.md
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/src/components/HomepageExamples/index.js
  scripts/__tests__/unit/stackblitz.test.js
Labels: CLA Signed

#6178 Refactor import paths in LexicalEditorState
  packages/lexical/src/LexicalEditorState.ts
Labels: CLA Signed

#6219 [Lexical][Size-Checks] Measure both cjs/esm builds for regression checks
  .github/workflows/tests-extended.yml
  .size-limit.js
Labels: CLA Signed, extended-tests

#6227 [*] Fix: Resolve Windows regression caused by upgrading glob
  .prettierignore
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-website/plugins/package-docs/index.js
  scripts/__tests__/integration/prepare-release.test.js
  scripts/__tests__/unit/build.test.js
  scripts/npm/prepare-release.js
  scripts/override-react.js
  scripts/shared/packagesManager.js
  scripts/update-tsconfig.js
  scripts/validate-tsc-types.js
  scripts/www/rewriteImports.js
Labels: CLA Signed, extended-tests

#6224 Revert PR 1st causing some new added tests fail in collab mode and webkit mode
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
  packages/lexical-table/src/index.ts
Labels: CLA Signed, extended-tests
