Repository facebook/lexical, pull requests merged in 2025-02, with the labels that each got.

#7125 [workflow] disable size-limit job
  .github/workflows/size-limit.yml
Labels: CLA Signed

#7128 [workflow] Delete size limit report
  .github/workflows/size-limit.yml
Labels: CLA Signed

#7129 cleanup size-limit
  .github/workflows/after-approval.yml
  .github/workflows/tests-extended.yml
  .size-limit.js
  package-lock.json
  package.json
Labels: CLA Signed

#7127 [lexical-playground] Fix: Replace icon with Twitter with X
  packages/lexical-playground/src/images/icons/tweet.svg
  packages/lexical-playground/src/images/icons/x.svg
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/AutoEmbedPlugin/index.tsx
Labels: CLA Signed

#7132 [lexical][lexical-mark] Bug Fix: $wrapSelectionInMarkNode with element points
  packages/lexical-mark/__tests__/unit/LexicalMarkNode.test.ts
  packages/lexical-mark/src/index.ts
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed

#7004 [lexical-markdown] Bug Fix: support link and inline code text formats
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/importTextFormatTransformer.ts
  packages/lexical-markdown/src/importTextMatchTransformer.ts
  packages/lexical-markdown/src/importTextTransformers.ts
Labels: CLA Signed, extended-tests

#7122 [lexical] Bug Fix: Fix Chrome on android deletion bugs
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, extended-tests

#7145 [bugfix] Fix flow typedef for links plugin to include attributes
  packages/lexical-react/flow/LexicalLinkPlugin.js.flow
Labels: CLA Signed

#7143 [ci] Chore: Remove SSH_KEY secret
  .github/workflows/call-increment-version.yml
  .github/workflows/nightly-release.yml
  .github/workflows/version.yml
  scripts/npm/postversion.js
Labels: CLA Signed

#7146 [ci] Bug Fix: Force tag update so create release branch can be run multiple times
  scripts/npm/postversion.js
Labels: CLA Signed

#7147 v0.24.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed, extended-tests

#7046 [lexical][lexical-utils][lexical-selection][lexical-table] Feature: NodeCaret abstraction for traversals and ranges
  package-lock.json
  package.json
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical-selection/src/__tests__/unit/LexicalSelectionHelpers.test.ts
  packages/lexical-selection/src/index.ts
  packages/lexical-selection/src/lexical-node.ts
  packages/lexical-selection/src/range-selection.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableSelection.test.tsx
  packages/lexical-table/src/index.ts
  packages/lexical-utils/flow/LexicalUtils.js.flow
  packages/lexical-utils/src/index.ts
  packages/lexical-website/docs/concepts/traversals.md
  packages/lexical-website/sidebars.js
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalNode.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/__tests__/unit/LexicalSelection.test.ts
  packages/lexical/src/caret/LexicalCaret.ts
  packages/lexical/src/caret/LexicalCaretUtils.ts
  packages/lexical/src/caret/__tests__/unit/LexicalCaret.test.ts
  packages/lexical/src/caret/__tests__/unit/docs-traversals.test.ts
  packages/lexical/src/index.ts
  packages/lexical/src/nodes/LexicalTextNode.ts
  scripts/build.js
Labels: CLA Signed, extended-tests

#7077 [lexical-table] Feature: TableCellNode add verticalAlign attribute
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/src/images/icons/vertical-bottom.svg
  packages/lexical-playground/src/images/icons/vertical-middle.svg
  packages/lexical-playground/src/images/icons/vertical-top.svg
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableCellNode.test.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
Labels: CLA Signed, extended-tests

#7157 [lexical] Bug fix: Fixes infinite loop in sibling traversal
  packages/lexical/src/nodes/LexicalElementNode.ts
Labels: CLA Signed

#7159 [lexical-website] Documentation Update: CaretType has sibling and child.
  packages/lexical-website/docs/concepts/traversals.md
Labels: CLA Signed

#7118 fix: Replace Twitter with X
  README.md
Labels: CLA Signed

#7152 [lexical] Chore: Add more tests for RangeSelection.getNodes()
  packages/lexical/src/__tests__/unit/LexicalSelection.test.ts
Labels: CLA Signed

#7162 [scripts] add @noEnforceES3 to build script
  scripts/build.js
Labels: CLA Signed

#7169 Update WWW build flag
  scripts/build.js
Labels: CLA Signed

#7174 [fix] $dfs traversal from the middle of the tree leaves
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed, extended-tests

#7170 [lexical-table] Bug Fix: Ensure rectangular table cell merge behavior (#7161)
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-table/src/LexicalTableUtils.ts
Labels: CLA Signed, extended-tests

#7164 [lexical-react] positionMenu on rendering typeahead mentions menu
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed

#7178 No forward slash in template
  scripts/error-codes/formatProdErrorMessage.js
Labels: CLA Signed

#7179 [fix] DFS depths when starting from inline node
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed, extended-tests

#7180 [Breaking Change][lexical][lexical-link] Bug Fix: Collapse through inline elements in deleteCharacter
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/nodes/LexicalElementNode.ts
Labels: CLA Signed, extended-tests

#7183 [lexical] Bug Fix: add missing flow type for getNearestEditorFromDOMNode
  packages/lexical/flow/Lexical.js.flow
Labels: CLA Signed

#7186 [lexical][lexical-devtools-core][lexical-playground] Bug Fix: fix TextNode importDom highlight formatting
  packages/lexical-devtools-core/src/generateContent.ts
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TextFormatHTMLCopyAndPaste.spec.mjs
  packages/lexical-playground/src/context/ToolbarContext.tsx
  packages/lexical-playground/src/images/icons/highlighter.svg
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical/src/nodes/LexicalTextNode.ts
Labels: CLA Signed, extended-tests

#7185 [lexical-react] Bug Fix: Make typeahead menu respect read-only mode
  packages/lexical-react/src/LexicalTypeaheadMenuPlugin.tsx
Labels: CLA Signed

#7187 [lexical-code][lexical-playground] Bug Fix: Fix selection boundaries in code block
  packages/lexical-code/src/CodeHighlighter.ts
  packages/lexical-playground/__tests__/e2e/CodeBlock.spec.mjs
Labels: CLA Signed, extended-tests

#7181 Position menu immediately
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/lexical/ContextMenuCopyAndPaste.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed

#7190 [lexical-table] Freeze top row using pure CSS
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
Labels: CLA Signed

#7192 [Breaking Change][lexical-table] Bug Fix: Prevent nested tables
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-table/README.md
  packages/lexical-table/src/LexicalTablePluginHelpers.ts
  packages/lexical-table/src/__tests__/unit/LexicalTablePlugin.test.tsx
Labels: CLA Signed, extended-tests

#7188 Replace substr with substring
  packages/lexical-playground/src/commenting/index.ts
  packages/lexical-playground/src/nodes/PollNode.tsx
  packages/lexical-playground/src/plugins/AutocompletePlugin/index.tsx
  packages/lexical-react/src/shared/LexicalMenu.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed, extended-tests

#7202 [lexical] Bug Fix: catch setTimeout wrapped setBaseAndExtent call
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed

#7175 [lexical] Bug Fix: Workaround for delete character with emoji grapheme customers that do not include non-BMP code points
  packages/lexical-playground/__tests__/regression/7163-graphemes.spec.mjs
  packages/lexical-react/src/LexicalHashtagPlugin.ts
  packages/lexical-selection/src/__tests__/unit/LexicalSelection.test.tsx
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed, extended-tests

#7155 [Breaking Change][lexical][lexical-playground] Bug Fix: Improve character deletion around shadow roots and decorators
  packages/lexical-playground/__tests__/e2e/CodeBlock.spec.mjs
  packages/lexical-playground/__tests__/e2e/HorizontalRule.spec.mjs
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/CollapsiblePlugin/index.ts
  packages/lexical-playground/src/plugins/ToolbarPlugin/utils.ts
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-website/docs/concepts/traversals.md
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/__tests__/unit/LexicalSelection.test.ts
  packages/lexical/src/caret/LexicalCaret.ts
  packages/lexical/src/caret/LexicalCaretUtils.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7196 [ci] Chore: Upgrade astro to fix mysterious integration test failure
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/utils.js
Labels: CLA Signed, extended-tests

#7205 [lexical-table] Feature: Support TableNode.__style in createDOM and updateDOM
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
Labels: CLA Signed, extended-tests

#7204 [Breaking Change][lexical-playground]: Refactor: Remove special case for collapsible forward deletion
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/src/plugins/CollapsiblePlugin/index.ts
Labels: CLA Signed, extended-tests

#7206 [lexical-playground] Chore: Remove insertNodes workaround in ToolbarPlugin
  packages/lexical-playground/src/plugins/ToolbarPlugin/utils.ts
Labels: CLA Signed, extended-tests

#7194 [lexical-playground] Bug Fix: Optimize table cell resizer event listeners
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
Labels: CLA Signed, extended-tests

#7215 [lexical-playground] Refactor: Remove redundant Suspense from node decorators
  packages/lexical-playground/src/nodes/EquationNode.tsx
  packages/lexical-playground/src/nodes/ExcalidrawNode/index.tsx
  packages/lexical-playground/src/nodes/ImageNode.tsx
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.tsx
  packages/lexical-playground/src/nodes/PollNode.tsx
  packages/lexical-playground/src/nodes/StickyNode.tsx
Labels: CLA Signed

#7223 2024 recap shortcut
  package-lock.json
  packages/lexical-website/docusaurus.config.js
  packages/lexical-website/package.json
Labels: CLA Signed

#7221 v0.25.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed, extended-tests

#7219 [Breaking Change][lexical/react] Chore: Remove deprecated default exports
  packages/lexical-react/flow/LexicalClickableLinkPlugin.js.flow
  packages/lexical-react/flow/LexicalErrorBoundary.js.flow
  packages/lexical-react/flow/LexicalTableOfContents.js.flow
  packages/lexical-react/flow/useLexicalEditable.js.flow
  packages/lexical-react/flow/useLexicalSubscription.js.flow
  packages/lexical-react/package.json
  packages/lexical-react/src/LexicalClickableLinkPlugin.tsx
  packages/lexical-react/src/LexicalErrorBoundary.tsx
  packages/lexical-react/src/LexicalTableOfContents.tsx
  packages/lexical-react/src/useLexicalEditable.ts
  packages/lexical-react/src/useLexicalSubscription.tsx
Labels: CLA Signed, extended-tests

#7217 [lexical-yjs] Bug Fix: Normalize multiple adjacent merge conflicts in one block
  packages/lexical-react/src/__tests__/unit/Collaboration.test.ts
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-yjs/src/SyncEditorStates.ts
Labels: CLA Signed, extended-tests

#7224 [lexical-table] Docs: Fix @lexical/table README.md
  packages/lexical-table/README.md
Labels: CLA Signed

#7228 [@lexical/list] Feature: export `ListNodeTagType`
  packages/lexical-list/src/index.ts
Labels: CLA Signed

#7225 [lexical-list] Bug Fix: retain selection styling when exiting nested list
  packages/lexical-list/src/formatList.ts
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
Labels: CLA Signed, extended-tests

#7182 [lexical-playground] fix: hard coded theme classes for table hover actions
  packages/lexical-playground/src/plugins/TableHoverActionsPlugin/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
  packages/lexical-playground/src/utils/getThemeSelector.ts
Labels: CLA Signed, extended-tests

#7230 [*] Feature: Add linter to check that flow types are consistent with typescript types
  package-lock.json
  package.json
  scripts/lint-flow-types.js
Labels: CLA Signed

#7233 [lexical-playground] Refactor: Image component rerenders on every editor update
  packages/lexical-playground/src/nodes/ImageComponent.tsx
Labels: CLA Signed, extended-tests

#7135 [lexical][lexical-code] Refactor: Use NodeCaret to implement RangeSelection.getNodes()
  packages/lexical-code/flow/LexicalCode.js.flow
  packages/lexical-code/src/CodeHighlightNode.ts
  packages/lexical-code/src/CodeHighlighter.ts
  packages/lexical-code/src/CodeNode.ts
  packages/lexical-code/src/index.ts
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalNode.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/caret/LexicalCaret.ts
  packages/lexical/src/caret/__tests__/unit/LexicalCaret.test.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7024 [lexical-list] Bullet item color matches text color
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical-list/src/formatList.ts
  packages/lexical-list/src/index.ts
  packages/lexical-list/src/utils.ts
  packages/lexical-playground/__tests__/e2e/Collaboration.spec.mjs
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-selection/src/lexical-node.ts
  packages/lexical/src/LexicalEvents.ts
  packages/lexical/src/LexicalReconciler.ts
  packages/lexical/src/nodes/LexicalParagraphNode.ts
Labels: CLA Signed, extended-tests

#7213 [lexical-table] Bug Fix: Prevent adjacent cell selection on triple-click
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-table/src/LexicalTablePluginHelpers.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#7237 [lexical-react] fix: ensure attributes are set immediately on menu
  packages/lexical-playground/__tests__/e2e/Mentions.spec.mjs
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed, extended-tests

#7244 [Update] Upgrade docusaurus version
  package-lock.json
  packages/lexical-website/package.json
Labels: CLA Signed

#7248 [Breaking Changes][lexical][lexical-list][lexical-playground] Bug Fix: deleteCharacter through ListNode->ListItemNode
  packages/lexical-playground/__tests__/regression/7246-delete-character-backward-list.spec.mjs
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleContainerNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleTitleNode.ts
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, extended-tests

#7249 [lexical] fix typo in Caret error msg
  packages/lexical/src/caret/LexicalCaret.ts
Labels: CLA Signed

#7252 [fix] Add missing flow types for node event plugin
  packages/lexical-react/flow/LexicalNodeEventPlugin.js.flow
Labels: CLA Signed

#7229 [lexical-playground] Bug Fix Table Action Menu dropdown positioning
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
Labels: CLA Signed, extended-tests, popover

#7253 [lexical][lexical-utils] Chore: Add some missing flow types for NodeCaret and table related functionality
  packages/lexical-selection/flow/LexicalSelection.js.flow
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-utils/flow/LexicalUtils.js.flow
  packages/lexical/flow/Lexical.js.flow
Labels: CLA Signed

#7255 [lexical][lexical-mark] Bug Fix: Identify <mark> as inline element
  packages/lexical-mark/__tests__/unit/LexicalMarkNode.test.ts
  packages/lexical/src/LexicalUtils.ts
Labels: CLA Signed, extended-tests

#7117 [lexical] Feature: add a generic state property to all nodes
  .eslintrc.js
  .github/workflows/call-integration-tests.yml
  packages/lexical-playground/src/nodes/PollNode.tsx
  packages/lexical-utils/src/index.ts
  packages/lexical-website/docs/concepts/node-replacement.md
  packages/lexical-yjs/src/CollabDecoratorNode.ts
  packages/lexical-yjs/src/CollabElementNode.ts
  packages/lexical-yjs/src/CollabTextNode.ts
  packages/lexical-yjs/src/SyncEditorStates.ts
  packages/lexical-yjs/src/Utils.ts
  packages/lexical/src/LexicalConstants.ts
  packages/lexical/src/LexicalNode.ts
  packages/lexical/src/LexicalNodeState.ts
  packages/lexical/src/LexicalNormalization.ts
  packages/lexical/src/__tests__/unit/LexicalNode.test.ts
  packages/lexical/src/__tests__/unit/LexicalNodeState.test.ts
  packages/lexical/src/index.ts
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  tsconfig.json
Labels: CLA Signed, extended-tests

#7256 [lexical] Bug Fix: Point.isBefore could return incorrect result due to normalization
  packages/lexical-selection/src/range-selection.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/__tests__/unit/LexicalSelection.test.ts
  packages/lexical/src/caret/LexicalCaretUtils.ts
Labels: CLA Signed, extended-tests

#7264 [@lexical/react] Bug Fix: anchor element not cleanup when component unmount
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed, extended-tests

#7239 Fix selection shifting when deleting paragraphs on android
  packages/lexical/src/LexicalEvents.ts
Labels: CLA Signed, extended-tests

#7226 [lexical] Chore: Added missing `isInline` function to TextNode
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/nodes/LexicalLineBreakNode.ts
  packages/lexical/src/nodes/LexicalTextNode.ts
Labels: CLA Signed

#7265 v0.26.0
  .flowconfig
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-devtools/tsconfig.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests
