Repository facebook/lexical, pull requests merged in 2025-09, with the labels that each got.

#7795 [lexical-history] Add Missing Argument for DispatchCommand in Undo/Redo Docs Example
  packages/lexical-history/README.md
Labels: CLA Signed

#7797 v0.35.0
  CHANGELOG.md
  examples/node-replacement/package.json
  examples/node-state-style/package.json
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code-shiki/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: extended-tests

#7799 [examples] Chore: Update examples for v0.35.0
  examples/node-replacement/package-lock.json
  examples/node-state-style/package-lock.json
  examples/react-plain-text/package-lock.json
  examples/react-rich-collab/package-lock.json
  examples/react-rich/package-lock.json
  examples/react-table/package-lock.json
  examples/vanilla-js-iframe/package-lock.json
  examples/vanilla-js-plugin/package-lock.json
  examples/vanilla-js/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package-lock.json
Labels: CLA Signed, extended-tests

#7786 [lexical-playground] DatetimeNode DOM updates
  packages/lexical-playground/src/nodes/DateTimeNode/DateTimeComponent.tsx
  packages/lexical-playground/src/nodes/DateTimeNode/DateTimeNode.tsx
Labels: CLA Signed, extended-tests

#7803 [lexical-react] Fix: Use explicit key attr in NodeContextMenuPlugin
  packages/lexical-react/src/LexicalNodeContextMenuPlugin.tsx
Labels: CLA Signed, extended-tests

#7805 [lexical-list] Fix: clear li checklist attributes when inserting nested list
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical-list/src/__tests__/unit/LexicalListNode.test.ts
  packages/lexical-list/src/__tests__/utils.ts
Labels: CLA Signed

#7814 [lexical][lexical-selection][lexical-utils] Refactor: Consolidate ancestor lookup via findMatchingParent
  packages/lexical-link/src/index.ts
  packages/lexical-selection/src/range-selection.ts
  packages/lexical-utils/src/index.ts
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7821 [lexical] Chore: Improve error message when a node is registered from a foreign lexical module
  packages/lexical/src/LexicalUtils.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  vitest.config.mts
Labels: CLA Signed, extended-tests

#7822 [lexical-clipboard] Fix: copy correct selection when editor in different window/document
  packages/lexical-clipboard/src/clipboard.ts
Labels: CLA Signed, extended-tests

#7832 [lexical-markdown] Refactor: Remove MarkdownShortcuts.ts Dependency on index.ts
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-markdown/src/MarkdownTransformers.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/index.ts
Labels: CLA Signed

#7835 [lexical-clipboard] Bug Fix: Update Lexical Clipboard with Empty Selection
  packages/lexical-clipboard/src/clipboard.ts
Labels: CLA Signed, extended-tests

#7839 [lexical-playground] Chore: remove InlineImageNode and InlineImagePlugun
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageComponent.tsx
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.css
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.tsx
  packages/lexical-playground/src/nodes/PlaygroundNodes.ts
  packages/lexical-playground/src/plugins/InlineImagePlugin/index.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.ts
Labels: CLA Signed, extended-tests

#7802 [lexical][lexical-react][lexical-playground] Chore: Update from React 18 to React 19
  examples/node-replacement/package-lock.json
  examples/node-replacement/package.json
  examples/node-state-style/package-lock.json
  examples/node-state-style/package.json
  examples/react-plain-text/package-lock.json
  examples/react-plain-text/package.json
  examples/react-rich-collab/package-lock.json
  examples/react-rich-collab/package.json
  examples/react-rich/package-lock.json
  examples/react-rich/package.json
  examples/react-table/package-lock.json
  examples/react-table/package.json
  package-lock.json
  package.json
  packages/lexical-devtools-core/src/TreeView.tsx
  packages/lexical-devtools/package.json
  packages/lexical-devtools/src/entrypoints/devtools-panel/components/EditorsList.tsx
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/package.json
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawImage.tsx
  packages/lexical-playground/src/nodes/ImageComponent.tsx
  packages/lexical-playground/src/ui/DropDown.tsx
  packages/lexical-react/package.json
  packages/lexical-react/src/LexicalContextMenuPlugin.tsx
  packages/lexical-react/src/LexicalEditorRefPlugin.tsx
  packages/lexical-react/src/LexicalNodeContextMenuPlugin.tsx
  packages/lexical-react/src/__tests__/unit/useLexicalIsTextContentEmpty.test.tsx
  packages/lexical-react/src/__tests__/unit/utils.tsx
  packages/lexical-react/src/shared/LexicalMenu.ts
  packages/lexical-react/src/shared/mergeRefs.ts
  packages/lexical-react/src/shared/useYjsCollaboration.tsx
  packages/lexical-website/package.json
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/__tests__/utils/index.tsx
  packages/lexical/src/nodes/__tests__/unit/LexicalElementNode.test.tsx
  packages/lexical/src/nodes/__tests__/unit/LexicalTextNode.test.tsx
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/build.js
Labels: CLA Signed, extended-tests

#7844 [lexical-react] Bug Fix: Add visibility margin to `isTriggerVisibleInNearestScrollContainer` to prevent popover from wrongfully closing
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed, extended-tests

#7853 [lexical-extension][docs] Chore: Add @experimental to extension functions
  packages/lexical-extension/src/config.ts
  packages/lexical-extension/src/getExtensionDependencyFromEditor.ts
  packages/lexical-extension/src/getPeerDependencyFromEditor.ts
  packages/lexical-extension/src/namedSignals.ts
  packages/lexical-extension/src/watchedSignal.ts
  packages/lexical/src/extension-core/defineExtension.ts
Labels: CLA Signed, extended-tests, extension

#7861 v0.36.0
  CHANGELOG.md
  examples/extension-react-table/package.json
  examples/extension-vanilla-react-plugin-host/package.json
  examples/extension-vanilla-tailwind/package.json
  examples/node-replacement/package.json
  examples/node-state-style/package.json
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code-shiki/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin-internal/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-extension/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-tailwind/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed, extended-tests

#7866 Make ref optional in ContentEditable flow
  packages/lexical-react/flow/LexicalContentEditable.js.flow
Labels: CLA Signed

#7868 Expose LexicalCollaboration Context to flow
  packages/lexical-react/flow/LexicalCollaborationContext.js.flow
Labels: CLA Signed

#7871 v0.36.1
  CHANGELOG.md
  examples/extension-react-table/package.json
  examples/extension-vanilla-react-plugin-host/package.json
  examples/extension-vanilla-tailwind/package.json
  examples/node-replacement/package.json
  examples/node-state-style/package.json
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code-shiki/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin-internal/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-extension/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-tailwind/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed, extended-tests

#7847 [lexical-playground] Bug Fix: Table add-row button no longer hides horizontal scroll
  packages/lexical-playground/src/plugins/TableHoverActionsPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7864 [lexical-table] Bug Fix: Handle accessing table selection following table deletion
  packages/lexical-table/src/LexicalTableSelection.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableSelection.test.tsx
Labels: CLA Signed

#7893 [docs] Chore: Export DOMConversion* types so that they are in the docs
  packages/lexical-website/docusaurus.config.js
  packages/lexical/src/index.ts
Labels: CLA Signed

#7804 [lexical][lexical-playground] Feature: Improve focus management in Toolbar and adds SKIP_SELECTION_FOCUS_TAG
  packages/lexical-playground/__tests__/e2e/TextFormatting.spec.mjs
  packages/lexical-playground/src/index.css
  packages/lexical-playground/src/plugins/ToolbarPlugin/fontSize.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/utils.ts
  packages/lexical-playground/src/ui/ColorPicker.tsx
  packages/lexical-playground/src/ui/DropDown.tsx
  packages/lexical-playground/src/ui/DropdownColorPicker.tsx
  packages/lexical-playground/src/utils/focusUtils.ts
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/LexicalUpdateTags.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests
