Repository facebook/lexical, pull requests merged in 2025-03, with the labels that each got.

#7271 [lexical] Bug Fix: invalid import from self
  packages/lexical/src/LexicalCommands.ts
  packages/lexical/src/LexicalNode.ts
Labels: CLA Signed

#7270 [Breaking Changes][lexical] Bug Fix: Address deleteLine regression in #7248
  packages/lexical-playground/__tests__/e2e/Selection.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/keyboardShortcuts/index.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageNode.tsx
  packages/lexical-selection/src/range-selection.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalSelection.ts
  packages/lexical/src/caret/LexicalCaretUtils.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7269 [*] Chore: Refactor shared/invariant for easier dev debugging
  packages/shared/src/formatDevErrorMessage.ts
  packages/shared/src/formatProdErrorMessage.ts
  scripts/build.js
  scripts/error-codes/__tests__/unit/transform-error-messages.test.js
  scripts/error-codes/transform-error-messages.js
Labels: CLA Signed, extended-tests

#7273 [lexical-playground] Bug Fix: apply correct column headers when column contains vertically merged cells
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/regression/7266-column-header-merged-cells.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7209 [ci] Chore: Remove unused GITHUB_TOKEN secrets from workflows
  .github/workflows/call-core-tests.yml
  .github/workflows/close-stale-pr.yml
Labels: CLA Signed, extended-tests

#7275 [lexical-utils] Bug Fix: don't include parent's siblings when starting $dfs at last child
  packages/lexical-utils/src/__tests__/unit/LexicalNodeHelpers.test.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed, extended-tests

#7281 v0.27.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-devtools/tsconfig.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  tsconfig.build.json
  tsconfig.json
Labels: extended-tests

#7283 [lexical-table] Bug Fix: Click and drag table selection in Firefox
  packages/lexical-playground/__tests__/e2e/Images.spec.mjs
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/__tests__/regression/5583-select-list-followed-by-element-node.spec.mjs
  packages/lexical-playground/__tests__/utils/index.mjs
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: extended-tests

#7284 [CI] Feature: Add a fixer for the no-imports-from-self lint
  eslint-plugin/src/rules/no-imports-from-self.js
Labels: CLA Signed

#7288 v0.27.1
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed, extended-tests

#7290 [lexical-website] Bug Fix: Fix vite.config.ts for gallery examples
  examples/react-plain-text/package.json
  examples/react-plain-text/vite.config.monorepo.ts
  examples/react-plain-text/vite.config.ts
  examples/react-rich-collab/package.json
  examples/react-rich-collab/vite.config.monorepo.ts
  examples/react-rich-collab/vite.config.ts
  examples/react-rich/package.json
  examples/react-rich/vite.config.monorepo.ts
  examples/react-rich/vite.config.ts
  examples/react-table/package.json
  examples/react-table/vite.config.monorepo.ts
  examples/react-table/vite.config.ts
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-iframe/vite.config.monorepo.ts
  examples/vanilla-js-iframe/vite.config.ts
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js-plugin/vite.config.monorepo.ts
  examples/vanilla-js-plugin/vite.config.ts
  examples/vanilla-js/package.json
  examples/vanilla-js/vite.config.monorepo.ts
  examples/vanilla-js/vite.config.ts
Labels: CLA Signed

#7299 [lexical-playground] Feature: Add touch support for TableCellResizer
  packages/lexical-playground/src/plugins/TableCellResizer/index.css
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
Labels: CLA Signed, extended-tests

#7297 [lexical-table] Add table cell selection handler for touch devices
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#7305 [lexical-playground] Bug Fix: row height resizing for merged cells
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableCellResizer/index.tsx
Labels: CLA Signed, extended-tests

#7309 [lexical-table] Bug Fix: Fix unintended touch table cell selection when scrolling
  packages/lexical-table/src/LexicalTableObserver.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
Labels: CLA Signed, extended-tests

#7313 [lexical-code] Chore: Update prismjs dependency to 1.30.0
  package-lock.json
  packages/lexical-code/package.json
Labels: CLA Signed, extended-tests

#7314 v0.27.2
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed, extended-tests

#7315 [lexical-react]: Chore: remove unused dependencies from @lexical/react
  package-lock.json
  packages/lexical-react/package.json
  packages/lexical-react/src/__tests__/unit/PlainRichTextPlugin.test.tsx
Labels: CLA Signed, extended-tests

#7336 [Breaking Change][lexical][lexical-table] Bug Fix: Scrollable TableNode updateDOM fixes and getDOMSlot type refactoring
  packages/lexical-table/flow/LexicalTable.js.flow
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/nodes/LexicalElementNode.ts
Labels: CLA Signed, extended-tests

#7321 [lexical] Feature: Add mutatedNodes to UpdateListener payload
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7325 [Breaking Change][lexical-list] Bug Fix: Move ListItemNode text style inheritance to custom properties and CSS
  packages/lexical-list/package.json
  packages/lexical-list/src/LexicalListItemNode.ts
  packages/lexical-playground/__tests__/e2e/List.spec.mjs
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
Labels: CLA Signed, extended-tests

#7323 [Breaking Change][lexical][lexical-playground] Feature: Add a default delete handler for NodeSelection
  packages/lexical-playground/__tests__/regression/7319-delete-character-backward-nodeselection.spec.mjs
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawComponent.tsx
  packages/lexical-playground/src/nodes/ImageComponent.tsx
  packages/lexical-playground/src/nodes/InlineImageNode/InlineImageComponent.tsx
  packages/lexical-playground/src/nodes/PageBreakNode/index.tsx
  packages/lexical-playground/src/nodes/PollComponent.tsx
  packages/lexical-react/src/LexicalBlockWithAlignableContents.tsx
  packages/lexical-react/src/LexicalHorizontalRuleNode.tsx
  packages/lexical-rich-text/src/index.ts
  packages/lexical/src/LexicalSelection.ts
Labels: CLA Signed, extended-tests

#7337 [lexical-playground] Table actions should clear selection instead of moving it to the beginning
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7340 [lexical-utils] Feature: Add type predicate to objectKlassEquals
  packages/lexical-clipboard/src/clipboard.ts
  packages/lexical-plain-text/src/index.ts
  packages/lexical-react/src/LexicalLinkPlugin.ts
  packages/lexical-rich-text/src/index.ts
  packages/lexical-table/src/LexicalTableSelectionHelpers.ts
  packages/lexical-utils/src/index.ts
Labels: CLA Signed

#7341 [Breaking Change][lexical] Bug Fix: Fix bug in transformer loop that would cause nodes not to get reconciled
  packages/lexical-list/src/LexicalListNode.ts
  packages/lexical-website/docs/concepts/transforms.md
  packages/lexical/src/LexicalReconciler.ts
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
  packages/lexical/src/nodes/LexicalRootNode.ts
Labels: CLA Signed, extended-tests

#7318 [Breaking Change][lexical-table] Bug Fix: Table cell line breaks behave differently from the intended HTML behavior.
  packages/lexical-playground/__tests__/e2e/CopyAndPaste/html/TablesHTMLCopyAndPaste.spec.mjs
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableCellNode.test.ts
Labels: CLA Signed, extended-tests

#7342 [Breaking Change][lexical][lexical-utils]: Bug Fix: Handle canBeEmpty in $splitNodes
  package-lock.json
  package.json
  packages/lexical-headless/src/index.ts
  packages/lexical-playground/__tests__/e2e/HorizontalRule.spec.mjs
  packages/lexical-playground/package.json
  packages/lexical-table/src/LexicalTableCellNode.ts
  packages/lexical-utils/flow/LexicalUtils.js.flow
  packages/lexical-utils/src/__tests__/unit/LexicalUtilsInsertNodeToNearestRoot.test.tsx
  packages/lexical-utils/src/index.ts
  packages/lexical/flow/Lexical.js.flow
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/__tests__/utils/index.tsx
  packages/lexical/src/caret/LexicalCaret.ts
  packages/lexical/src/caret/LexicalCaretUtils.ts
  packages/lexical/src/caret/__tests__/unit/LexicalCaret.test.ts
  packages/lexical/src/index.ts
Labels: CLA Signed, extended-tests

#7338 [lexical-playground][lexical-react] Feature: Push Draggable Element to Parent
  packages/lexical-playground/src/plugins/DraggableBlockPlugin/index.css
  packages/lexical-playground/src/plugins/DraggableBlockPlugin/index.tsx
  packages/lexical-playground/src/ui/ContentEditable.css
  packages/lexical-react/flow/LexicalDraggableBlockPlugin.js.flow
  packages/lexical-react/src/LexicalDraggableBlockPlugin.tsx
Labels: CLA Signed, extended-tests

#7344 [lexical] Feature: Apply RootNode transforms last
  packages/lexical-website/docs/concepts/transforms.md
  packages/lexical/src/LexicalUpdates.ts
  packages/lexical/src/__tests__/unit/LexicalEditor.test.tsx
Labels: CLA Signed, extended-tests

#7348 v0.28.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
  scripts/error-codes/codes.json
Labels: CLA Signed, extended-tests

#7352 [lexical-playground] Chore: Improve accessibility of DraggableBlockPlugin add block button
  packages/lexical-playground/src/plugins/DraggableBlockPlugin/index.css
  packages/lexical-playground/src/plugins/DraggableBlockPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7351 [Breaking Change][lexical] Bug Fix: Only select RootNode on removal of last child if there was an existing selection
  packages/lexical/src/LexicalEditor.ts
  packages/lexical/src/LexicalNode.ts
  packages/lexical/src/nodes/__tests__/unit/LexicalRootNode.test.ts
Labels: CLA Signed, extended-tests

#7334 [lexical-playground] Bug Fix: Table action menu visibility with cell overflow
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7353 [Breaking Change][lexical-markdown] Feature: Support escaping markdown characters
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/importTextTransformers.ts
  packages/lexical-playground/__tests__/e2e/Hashtags.spec.mjs
Labels: CLA Signed, extended-tests

#7316 [lexical-table] Bug Fix: Add fallback selection to InsertTableCommand
  packages/lexical-table/src/LexicalTablePluginHelpers.ts
  packages/lexical-table/src/__tests__/unit/LexicalTablePlugin.test.tsx
Labels: CLA Signed, extended-tests

#7365 Update react.md, fix typo
  packages/lexical-website/docs/collaboration/react.md
Labels: CLA Signed

#7362 [lexical-playground] Bug Fix: Fix equation rendering in Safari
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
  packages/lexical-playground/__tests__/regression/6974-delete-character-backward.spec.mjs
  packages/lexical-playground/src/ui/KatexRenderer.tsx
Labels: CLA Signed, extended-tests

#7372 [Breaking Change][lexical-table][lexical-playground] Bug Fix: Set tableFrozenColumn and tableFrozenRow classes only on the scrollable table wrapper
  packages/lexical-playground/src/themes/PlaygroundEditorTheme.css
  packages/lexical-table/src/LexicalTableNode.ts
  packages/lexical-table/src/__tests__/unit/LexicalTableNode.test.tsx
Labels: CLA Signed, extended-tests

#7371 [lexical-playground] Chore: Update excalidraw to v0.18.0
  package-lock.json
  packages/lexical-playground/package.json
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawComponent.tsx
  packages/lexical-playground/src/nodes/ExcalidrawNode/ExcalidrawImage.tsx
  packages/lexical-playground/src/plugins/ExcalidrawPlugin/index.tsx
  packages/lexical-playground/src/ui/ExcalidrawModal.tsx
  packages/lexical-playground/vite.config.ts
  packages/lexical-playground/viteCopyExcalidrawAssets.ts
Labels: CLA Signed, extended-tests

#7375 v0.29.0
  CHANGELOG.md
  examples/react-plain-text/package.json
  examples/react-rich-collab/package.json
  examples/react-rich/package.json
  examples/react-table/package.json
  examples/vanilla-js-iframe/package.json
  examples/vanilla-js-plugin/package.json
  examples/vanilla-js/package.json
  package-lock.json
  package.json
  packages/lexical-clipboard/package.json
  packages/lexical-code/package.json
  packages/lexical-devtools-core/package.json
  packages/lexical-devtools/package.json
  packages/lexical-dragon/package.json
  packages/lexical-eslint-plugin/package.json
  packages/lexical-file/package.json
  packages/lexical-hashtag/package.json
  packages/lexical-headless/package.json
  packages/lexical-history/package.json
  packages/lexical-html/package.json
  packages/lexical-link/package.json
  packages/lexical-list/package.json
  packages/lexical-mark/package.json
  packages/lexical-markdown/package.json
  packages/lexical-offset/package.json
  packages/lexical-overflow/package.json
  packages/lexical-plain-text/package.json
  packages/lexical-playground/package.json
  packages/lexical-react/package.json
  packages/lexical-rich-text/package.json
  packages/lexical-selection/package.json
  packages/lexical-table/package.json
  packages/lexical-text/package.json
  packages/lexical-utils/package.json
  packages/lexical-website/package.json
  packages/lexical-yjs/package.json
  packages/lexical/package.json
  packages/shared/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package.json
  scripts/__tests__/integration/fixtures/lexical-esm-sveltekit-vanilla-js/package.json
Labels: CLA Signed

#7374 [__tests__] Update next version
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package-lock.json
Labels: CLA Signed

#7368 [lexical-playground] Chore: Remove shared imports from playground
  packages/lexical-playground/src/Editor.tsx
  packages/lexical-playground/src/nodes/StickyComponent.tsx
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleContainerNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleContentNode.ts
  packages/lexical-playground/src/plugins/CollapsiblePlugin/CollapsibleTitleNode.ts
  packages/lexical-playground/src/plugins/CommentPlugin/index.tsx
  packages/lexical-playground/src/plugins/ShortcutsPlugin/shortcuts.ts
  packages/lexical-playground/src/plugins/TableActionMenuPlugin/index.tsx
  packages/lexical-playground/src/plugins/TablePlugin.tsx
  packages/lexical-playground/src/plugins/TestRecorderPlugin/index.tsx
  packages/lexical-playground/src/plugins/ToolbarPlugin/index.tsx
  packages/lexical-playground/src/utils/getThemeSelector.ts
Labels: CLA Signed, extended-tests

#7380 [lexical-list] Bug Fix: empty list item type change
  packages/lexical-list/src/__tests__/unit/formatList.test.ts
  packages/lexical-list/src/formatList.ts
Labels: CLA Signed

#7378 [Breaking Change][lexical] Bug Fix: Ensure updateEditorSync is always synchronous and use it when triggering listeners
  packages/lexical-react/src/__tests__/unit/LexicalNestedComposer.test.tsx
  packages/lexical/src/LexicalUpdates.ts
Labels: CLA Signed, extended-tests

#7381 Update dependencies: vite,@babel/runtime,prismjs,@babel/helpers
  examples/react-plain-text/package-lock.json
  examples/react-rich-collab/package-lock.json
  examples/react-rich/package-lock.json
  examples/react-table/package-lock.json
  package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-astro-react/package-lock.json
  scripts/__tests__/integration/fixtures/lexical-esm-nextjs/package-lock.json
Labels: CLA Signed, extended-tests

#7389 update codeowners
  .github/CODEOWNERS
Labels: CLA Signed

#7388 [lexical-playground] Bug Fix: Use natural dimensions for inherited image size
  packages/lexical-playground/__tests__/e2e/Images.spec.mjs
  packages/lexical-playground/src/nodes/ImageComponent.tsx
Labels: CLA Signed, extended-tests

#7386 [Breaking Change][lexical-markdown] Bug Fix: Preserve paragraph separation after block elements
  packages/lexical-markdown/src/MarkdownImport.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
Labels: CLA Signed, extended-tests

#7366 [lexical-link][lexical-playground] Feature: Add support for image links via NodeSelection
  packages/lexical-link/src/index.ts
  packages/lexical-playground/__tests__/e2e/Links.spec.mjs
  packages/lexical-playground/src/plugins/FloatingLinkEditorPlugin/index.tsx
Labels: CLA Signed, extended-tests

#7330 [lexical-yjs] Bug Fix: don't sync ElementNode __dir property
  packages/lexical-playground/__tests__/e2e/Tables.spec.mjs
  packages/lexical-react/src/__tests__/unit/Collaboration.test.ts
  packages/lexical-yjs/src/Utils.ts
  packages/lexical/src/__tests__/unit/LexicalReconciler.test.ts
Labels: CLA Signed, extended-tests

#7393 [lexical-rich-text] Bug Fix: Fix right and up arrow key navigation with decorator nodes
  packages/lexical-rich-text/src/index.ts
Labels: CLA Signed, extended-tests

#7395 [lexical-markdown] Bug Fix: Prevent Markdown shortcuts from applying to code-formatted text
  packages/lexical-markdown/src/MarkdownShortcuts.ts
  packages/lexical-playground/__tests__/e2e/Markdown.spec.mjs
Labels: CLA Signed, extended-tests

#7398 [lexical-yjs] Bug Fix: Fix scroll position getting changed when someone else makes a change in collab
  packages/lexical-yjs/src/SyncEditorStates.ts
Labels: CLA Signed, extended-tests

#7400 [RFC][lexical-markdown] Replace whitespace with code point when the string has leading and trailing whitespaces
  packages/lexical-markdown/src/MarkdownExport.ts
  packages/lexical-markdown/src/__tests__/unit/LexicalMarkdown.test.ts
  packages/lexical-markdown/src/importTextTransformers.ts
Labels: CLA Signed, extended-tests

#7401 [Bug Fix] Clone a node and use `$setSelection` instead of assigning dirty to true directly.
  packages/lexical/src/LexicalEditor.ts
Labels: CLA Signed, extended-tests

#7403 [lexical-devtools-core] Bug Fix: Update debug view to show KEY_ESCAPE_COMMAND immediately
  packages/lexical-devtools-core/src/TreeView.tsx
  packages/lexical-react/src/LexicalTreeView.tsx
Labels: CLA Signed

#7404 [lexical-react] Feature: Add option to disable first item auto-selection in menus
  packages/lexical-react/src/LexicalTypeaheadMenuPlugin.tsx
  packages/lexical-react/src/shared/LexicalMenu.ts
Labels: CLA Signed

#7397 [lexical] Chore: Change $getTextNodeOffset invariant to warn in prod (error in __DEV__)
  packages/lexical-devtools/tsconfig.json
  packages/lexical/src/caret/LexicalCaret.ts
  packages/shared/src/__mocks__/devInvariant.ts
  packages/shared/src/devInvariant.ts
  packages/shared/src/formatProdWarningMessage.ts
  scripts/error-codes/__tests__/unit/transform-error-messages.test.js
  scripts/error-codes/transform-error-messages.js
  tsconfig.build.json
  tsconfig.json
Labels: CLA Signed, extended-tests
